* {
  font-family: "PingFang SC", "Microsoft YaHei"; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

.pointerClass {
  cursor: pointer; }

a:focus {
  text-decoration: none !important; }

.font-family1 {
  font-family: "MetaSerifCompPro-Book W01 Rg"; }

.font-family2 {
  font-family: "Meta Serif Offc W01 Medium"; }

.font-family3 {
  font-family: "Meta Serif Offc W01 Bold"; }

.font-family4 {
  font-family: "Univers Next W01 Bold"; }

.font-family5 {
  font-family: "UniversNW01-420CdRegula"; }

.font-family6 {
  font-family: "Univers LT W01_67 Bold_1476016"; }

.typo1 {
  font-family: 'MetaSerifCompPro-Book W01 Rg';
  font-size: 30px;
  font-weight: normal !important; }

.typo2 {
  font-family: 'MetaSerifCompPro-Book W01 Rg';
  font-size: 22px;
  font-weight: normal !important; }

.typo3 {
  font-family: 'MetaSerifCompPro-Book W01 Rg';
  font-size: 16px;
  font-weight: normal !important; }

.typo4 {
  font-family: 'MetaSerifCompPro-Book W01 Rg';
  font-size: 14px;
  font-weight: normal !important; }

.typo5 {
  font-family: 'MetaSerifCompPro-Book W01 Rg';
  font-size: 15px;
  font-weight: normal !important; }

.typo6 {
  font-family: 'MetaSerifCompPro-Book W01 Rg';
  font-size: 18px;
  font-weight: normal !important;
  display: inline-block; }

.typo7 {
  font-family: 'Meta Serif Offc W01 Bold';
  font-size: 16px;
  font-weight: normal !important; }

.typo8 {
  font-family: 'Meta Serif Offc W01 Bold';
  font-size: 12px;
  font-weight: normal !important; }

.typo8b {
  font-family: 'Meta Serif Offc W01 Bold';
  font-size: 13px;
  font-weight: normal !important; }

.typo9 {
  font-family: 'UniversNW01-420CdRegula';
  font-size: 13px;
  font-weight: normal !important; }

.typo10 {
  font-family: 'UniversNW01-420CdRegula';
  font-size: 11px;
  font-weight: normal !important;
  letter-spacing: 0.05em; }

.typo11 {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal !important;
  line-height: 14px; }

.typo12 {
  font-family: 'Meta Serif Offc W01 Bold';
  font-size: 18px;
  font-weight: normal !important; }

.typo13 {
  font-family: 'Meta Serif Offc W01 Bold';
  font-size: 22px;
  font-weight: normal !important; }

.typo14 {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal !important;
  line-height: 14px; }

.typo15 {
  font-family: 'UniversNW01-420CdRegula';
  font-size: 15px;
  font-weight: bold !important; }

.typo16 {
  font-family: 'Meta Serif Offc W01 Bold';
  font-size: 15px;
  font-weight: normal !important; }

.typo17 {
  font-family: 'UniversNW01-420CdRegula' !important;
  font-size: 18px;
  font-weight: normal !important; }

.typo18 {
  font-family: 'MetaSerifCompPro-Book W01 Rg';
  font-size: 15px;
  font-weight: normal !important; }

.typo19 {
  font-family: 'MetaSerifCompPro-Book W01 Rg';
  font-size: 13px;
  font-weight: normal !important; }

.typo20 {
  font-family: 'MetaSerifCompPro-Book W01 Rg';
  font-size: 21px;
  line-height: 27px;
  font-weight: normal !important; }

.typo21 {
  font-family: 'UniversNW01-420CdRegula';
  font-size: 13px;
  font-weight: normal !important; }

.typo22 {
  font-family: 'Meta Serif Offc W01 Medium';
  font-size: 14px;
  font-weight: normal !important; }

.typo23 {
  font-family: 'UniversNW01-420CdRegula';
  font-size: 14px;
  font-weight: normal !important; }

.typo24 {
  font-family: 'Meta Serif Offc W01 Medium';
  font-size: 19px;
  font-weight: normal !important; }

.typo25 {
  font-family: 'Meta Serif Offc W01 Bold';
  font-size: 16px;
  font-weight: normal !important; }

.typo26 {
  font-family: 'Meta Serif Offc W01 Bold';
  font-size: 19px;
  font-weight: normal !important; }

.button-wrapper {
  padding-left: 4.16666%;
  padding-right: 4.16666%; }

.button-wrapper-double {
  padding-left: 8.33332%;
  padding-right: 8.33332%; }

.button {
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 5px 10px !important;
  line-height: 23px !important;
  text-decoration: none !important;
  border-radius: 0;
  font-family: 'Meta Serif Offc W01 Bold';
  font-size: 16px;
  font-weight: normal;
  -webkit-appearance: none;
  border: 0; }

.primary-button {
  background-color: #222;
  color: #fff;
  line-height: 22px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important; }
  .primary-button:link, .primary-button:visited {
    background-color: #222;
    color: #fff;
    line-height: 22px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important; }
  .primary-button:hover {
    background-color: #333;
    color: #e3e3e3;
    text-decoration: none; }
  .primary-button:active {
    background-color: #141414;
    color: #fff;
    text-decoration: none; }
  .primary-button.small {
    line-height: 23px !important;
    padding-bottom: 6px !important;
    padding-top: 6px !important; }

.static-button:link, .static-button:visited {
  background-color: #656463;
  border: solid 1px #656463;
  color: #f3f2f1;
  text-decoration: none; }

.secondary-button:link, .secondary-button:visited {
  background-color: #f3f2f1;
  color: #939292;
  border: solid 1px #e7e7e7;
  text-decoration: none;
  line-height: 22px !important;
  padding-bottom: 8px !important;
  padding-top: 8px !important; }
.secondary-button .choosetime {
  border: solid 1px #9e9fa0; }
  .secondary-button .choosetime:link, .secondary-button .choosetime:visited {
    border: solid 1px #9e9fa0; }
  .secondary-button .choosetime:hover {
    background-color: #e7e7e7;
    color: #656463;
    text-decoration: none; }
  .secondary-button .choosetime:active, .secondary-button .choosetime.active {
    background-color: #2f2f2e;
    color: #f3f2f1;
    text-decoration: none; }
  .secondary-button .choosetime.special {
    background: #636363;
    color: #fff; }
  .secondary-button .choosetime.small {
    line-height: 23px !important;
    padding-bottom: 5px !important;
    padding-top: 5px !important; }

.formfield {
  font-size: 15px !important;
  line-height: 21px !important;
  color: #666564 !important;
  height: 35px !important;
  margin-bottom: 0 !important; }

.textbox {
  border: 1px solid #e1e1e1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 35px;
  min-height: 35px;
  font-family: 'MetaSerifCompPro-Book W01 Rg';
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  line-height: 21px;
  color: #666564;
  display: block;
  outline: 0; }

input::-ms-clear {
  display: none !important; }

input.textbox {
  height: 35px; }

.textbox.inverse, .textbox-submit.inverse .textbox {
  border-color: #636363 !important;
  background-color: #2f2f2e !important; }

.textbox.submit {
  background: url(images/common/textbox-submit.png) no-repeat right center;
  background-size: 34px 35px;
  padding-right: 40px; }

.textbox-submit {
  line-height: 35px !important;
  height: 35px !important;
  position: relative;
  border: 0;
  padding: 0;
  margin: 0; }

.textbox-submit a {
  display: block !important;
  position: absolute !important;
  right: 1px !important;
  top: 1px !important;
  width: 33px !important;
  height: 33px !important;
  background: url(images/common/textbox-submit.png) no-repeat center center !important;
  background-size: 26px 26px !important;
  text-decoration: none !important;
  background-color: #f3f2f1 !important; }

.textbox-submit.inverse a {
  background: url(images/common/textbox-submit-inverse.png) no-repeat center center !important;
  background-size: 26px 26px !important;
  background-color: #636363 !important; }

.textbox-search {
  height: 35px !important;
  line-height: 35px !important;
  position: relative; }

.textbox-search a {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 34px;
  height: 34px;
  background: url(images/common/input-search-icon.png) no-repeat center center;
  background-size: 13px 13px; }

section.textbox-search a {
  background-position: right; }

section.textbox-search a.fill-svg-search {
  background: url(images/common/input-search-icon-black.png) no-repeat center center;
  background-size: 13px 13px;
  background-position: right; }

.textbox:focus {
  border: 1px solid #666564; }

.textbox.error {
  border-color: #af2600;
  color: #af2600; }

.ckbx {
  position: relative;
  height: auto;
  padding: 0;
  margin-bottom: 14px;
  margin-top: 0;
  border: none !important; }

.ckbxStyle {
  position: relative;
  height: auto;
  padding: 0;
  margin-bottom: 14px;
  margin-top: 0;
  border: none !important; }

.ckbx span.icon {
  display: block;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 0;
  left: 0; }

.ckbx.bordered span.icon {
  top: 50%;
  margin-top: -8px; }

.ckbx.checkbox span.icon {
  background: url(images/common/checkboxSmall@2x.png) no-repeat left top;
  background-size: 14px 42px; }

.ckbx.checkbox.selected span.icon {
  background: url(images/common/checkboxSmall@2x.png) no-repeat left center !important;
  background-size: 14px 42px !important; }

.ckbx.checkbox.ckbx-error span.icon {
  background: url(images/common/checkboxSmall@2x.png) no-repeat left bottom;
  background-size: 14px 42px; }

.ckbx.checkbox.ckbx-error span, .ckbx.checkbox.ckbx-error span a {
  color: #af2600 !important; }

.ckbx.checkbox.black span.icon {
  background: url(images/common/checkboxSmallBlack@2x.png) no-repeat left top;
  background-size: 14px 42px; }

.ckbx.checkbox.black.selected span.icon {
  background: url(images/common/checkboxSmallBlack@2x.png) no-repeat left center !important;
  background-size: 14px 42px !important; }

.ckbx.checkbox.black.ckbx-error span.icon {
  background: url(images/common/checkboxSmallBlack@2x.png) no-repeat left bottom;
  background-size: 14px 42px; }

.ckbx.checkbox.black.ckbx-error span, .ckbx.checkbox.black.ckbx-error span a {
  color: #d2836e; }

.ckbx.radio span.icon {
  background: url(images/common/radioSmall@2x.png) no-repeat left top;
  background-size: 14px 28px; }

.ckbx.radio.selected span.icon {
  background: url(images/common/radioSmall@2x.png) no-repeat left bottom;
  background-size: 14px 28px; }

.ckbx.bordered span.icon {
  left: 10px; }

.ckbx input {
  position: absolute;
  left: -10000px; }

.ckbx label {
  position: relative;
  clear: both;
  display: block;
  height: auto;
  line-height: 13px;
  padding: 0 0 0 22px;
  cursor: pointer;
  font-family: 'UniversNW01-420CdRegula';
  color: #636363;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: normal;
  text-align: left;
  border: 0; }

.shippingCheckbox {
  line-height: 15px !important; }

.ckbx label span {
  text-transform: none;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #939393; }

.ckbx.bordered label {
  padding: 15px 14px 15px 32px;
  border: solid 1px #e7e7e7; }

.ckbxStyle.bordered label {
  padding: 15px 14px 15px 32px;
  border: solid 1px #e7e7e7; }

.ckbx.bordered.selected label, .ckbx.bordered label:hover {
  border: solid 1px #222; }

.ckbx.error label, .ckbx.error label span {
  color: #af2600; }

.ckbx.bordered.error label {
  border: solid 1px #af2600; }

.paddingZero {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.color1, a.color1:hover {
  color: #222;
  text-decoration: none; }

.bgcolor1 {
  background-color: #222; }

.color2, a.color2:hover {
  color: #939393; }

.bgcolor2 {
  background-color: #939393; }

.color3, a.color3:hover {
  color: #636363; }

.bgcolor3 {
  background-color: #636363; }

.color4, a.color4:hover {
  color: #cecece; }

.bgcolor4 {
  background-color: #cecece; }

.color5, a.color5:hover {
  color: #eaeaea; }

.bgcolor5 {
  background-color: #eaeaea; }

.color6, a.color6:hover {
  color: #af2600; }

.bgcolor6 {
  background-color: #af2600; }

.color7, a.color6:hover {
  color: #fff; }

.bgcolor7 {
  background-color: #fff; }

.color8, a.color8:hover {
  color: #000; }

.bgcolor8 {
  background-color: #000; }

.color9, a.color9:hover {
  color: #9c9c9c; }

.color10, a.color10:hover {
  color: #666; }

.color11, a.color11:hover {
  color: #cdcdcd; }

.color12, a.color12:hover {
  color: #656463; }

.color13, a.color13:hover {
  color: #181818; }

.color13, a.color13:hover {
  color: #181818; }

.border-bottom {
  border-bottom: solid 1px #e7e7e7; }

.border-top {
  border-top: 1px solid #e3e3e3; }

.border-bottom-black {
  border-bottom: solid 1px #000; }

.editorial-title-row {
  width: 100%;
  z-index: 399;
  position: relative;
  visibility: hidden;
  margin-top: 1px; }

.margin-top-7 {
  margin-top: 7px; }

.margin-top-10 {
  margin-top: 10px; }

.margin-top-14 {
  margin-top: 14px; }

.margin-top-21 {
  margin-top: 21px; }

.margin-top-28 {
  margin-top: 28px; }

.margin-top-35 {
  margin-top: 35px; }

.margin-top-42 {
  margin-top: 42px; }

.margin-top-49 {
  margin-top: 49px; }

.margin-top-56 {
  margin-top: 56px; }

.margin-top-70 {
  margin-top: 70px; }

.margin-bottom-0 {
  margin-bottom: 0 !important; }

.margin-bottom-1 {
  margin-bottom: 1px; }

.margin-bottom-7 {
  margin-bottom: 7px; }

.margin-bottom-14 {
  margin-bottom: 14px; }

.margin-bottom-21 {
  margin-bottom: 21px; }

.margin-bottom-28 {
  margin-bottom: 28px; }

.margin-bottom-35 {
  margin-bottom: 35px; }

.margin-bottom-42 {
  margin-bottom: 42px; }

.margin-bottom-49 {
  margin-bottom: 49px; }

.margin-bottom-56 {
  margin-bottom: 56px; }

.margin-bottom-70 {
  margin-bottom: 70px; }

.padding-top-0 {
  padding-top: 0; }

.padding-top-5 {
  padding-top: 5px; }

.padding-top-7 {
  padding-top: 7px; }

.padding-top-14 {
  padding-top: 14px; }

.padding-top-21 {
  padding-top: 21px; }

.padding-top-22 {
  padding-top: 22px; }

.padding-top-28 {
  padding-top: 28px; }

.padding-top-35 {
  padding-top: 35px; }

.padding-top-42 {
  padding-top: 42px; }

.padding-top-49 {
  padding-top: 49px; }

.padding-top-70 {
  padding-top: 70px; }

.padding-left-0 {
  padding-left: 0; }

.padding-right-0 {
  padding-right: 0; }

.padding-left-5 {
  padding-left: 5px; }

.padding-right-5 {
  padding-right: 5px; }

.padding-left-10 {
  padding-left: 10px; }

.padding-right-10 {
  padding-right: 10px; }

.padding-bottom-0 {
  padding-bottom: 0; }

.padding-bottom-7 {
  padding-bottom: 7px; }

.padding-bottom-14 {
  padding-bottom: 14px; }

.padding-bottom-21 {
  padding-bottom: 21px; }

.padding-bottom-28 {
  padding-bottom: 28px; }

.padding-bottom-35 {
  padding-bottom: 35px; }

.padding-bottom-70 {
  padding-bottom: 70px; }

.space_6 {
  height: 6px;
  line-height: 6px; }

.space_7 {
  height: 7px;
  line-height: 7px; }

.space_14 {
  height: 14px;
  line-height: 14px; }

.space_17 {
  height: 17px;
  line-height: 17px; }

.space_20 {
  height: 20px;
  line-height: 20px; }

.space_21 {
  height: 21px;
  line-height: 21px; }

.space_22 {
  height: 22px;
  line-height: 22px; }

.space_28 {
  height: 28px;
  line-height: 28px; }

.space_35 {
  height: 35px;
  line-height: 35px; }

.space_42 {
  height: 42px;
  line-height: 42px; }

.space_49 {
  height: 49px;
  line-height: 49px; }

.space_70 {
  height: 70px;
  line-height: 70px; }

.space_140 {
  height: 140px;
  line-height: 140px; }

.space_50 {
  height: 50px;
  line-height: 50px; }

.line_height_14 {
  line-height: 14px; }

.line_height_21 {
  line-height: 21px; }

.line_height_28 {
  line-height: 28px; }

.line_height_35 {
  line-height: 35px; }

.page_intro_text {
  padding: 42px;
  text-align: center;
  font-family: 'MetaSerifCompPro-Book W01 Rg';
  font-size: 18px;
  line-height: 21px;
  color: #222;
  border-bottom: solid 1px #cecece; }

.page_intro_text h1 {
  font-family: 'Meta Serif Offc W01 Bold';
  font-size: 18px;
  line-height: 21px;
  color: #222;
  margin-bottom: 21px; }

.page_intro_text-padding-top {
  padding: 60px 0 0 0;
  text-align: center;
  font-family: 'MetaSerifCompPro-Book W01 Rg';
  font-size: 18px;
  line-height: 21px;
  color: #222;
  border-bottom: solid 1px #cecece; }

.page_intro_text-padding-top h1 {
  font-family: 'Meta Serif Offc W01 Bold';
  font-size: 18px;
  line-height: 21px;
  color: #222;
  margin-bottom: 10px; }

.page_intro_text-padding-top h2 {
  font-family: 'Meta Serif Offc W01 Bold';
  font-size: 18px;
  line-height: 72px;
  color: #9c9c9c;
  margin-bottom: 10px;
  min-height: 72px; }

.form-section {
  margin-bottom: 63px; }

.row .form-section .row {
  margin-left: 0;
  margin-right: 0; }

.form-section h2 {
  margin-bottom: 21px;
  font-family: 'MetaSerifCompPro-Book W01 Rg';
  font-size: 22px;
  color: #222;
  line-height: 28px;
  text-transform: uppercase; }

.shipping-content .form-section h2, #checkoutBillingSection .form-section h2 {
  font-family: 'Meta Serif Offc W01 Bold';
  font-size: 16px !important;
  margin-bottom: 14px; }

.form-section h2 p {
  margin-top: 0;
  font-family: 'MetaSerifCompPro-Book W01 Rg';
  font-size: 15px;
  color: #222;
  text-transform: none; }

.form-section .field {
  margin-bottom: 7px;
  line-height: 35px;
  font-size: 13px;
  color: #656565; }

.form-section .field.double-margin {
  margin-bottom: 14px; }

.form-section .field.nomargin {
  margin-bottom: 0; }

.form-section .field hr {
  margin-top: 14px;
  margin-bottom: 14px; }

.form-section .field hr.small {
  margin-top: 7px;
  margin-bottom: 7px; }

.form-section .field.special {
  margin-top: 28px;
  margin-bottom: 28px; }

.form-section .field.special .col {
  border-top: solid 1px #d3d2d1;
  border-bottom: solid 1px #d3d2d1;
  padding-top: 28px;
  padding-bottom: 28px; }

.form-section .field.special .col.label {
  padding-top: 39px;
  padding-bottom: 40px; }

.form-section .field .label {
  font-family: 'UniversNW01-420CdRegula';
  line-height: 13px;
  padding-top: 11px;
  padding-bottom: 7px; }

.form-section .field .label.nopaddingtop {
  padding-top: 0; }

.form-section .field .checkboxes {
  padding-top: 11px;
  line-height: 14px; }

.form-section .field .checkboxes .ckbx {
  margin-bottom: 28px; }

.form-field-box {
  padding: 21px 14px;
  border: solid 1px #d3d2d1;
  color: #222;
  font-family: 'UniversNW01-420CdRegula';
  font-size: 13px !important;
  line-height: 14px;
  text-transform: uppercase;
  margin-bottom: 10px; }

.form-field-box.with-icons {
  padding: 21px 39px; }

.form-section .myaddress-box {
  display: inline-block;
  margin-right: -4px;
  float: none;
  margin-bottom: 20px; }

.form-section .myaddress-box .subtitle {
  min-height: 100px; }

.form-field-box.selected {
  border-color: #222 !important; }

.form-field-box .button-wrapper {
  margin-top: 21px; }

.form-field-box .title {
  line-height: 21px;
  margin-bottom: 7px; }

.form-field-box .subtitle {
  text-transform: uppercase;
  margin-bottom: 21px; }

.form-field-box .phone {
  padding-left: 25px;
  background: url(images/common/phone-icon.png) no-repeat left 2px;
  background-size: 16px 16px;
  line-height: 18px;
  padding: 3px 25px;
  text-transform: uppercase;
  margin-bottom: 14px; }

.form-field-box.with-icons .phone {
  margin-left: -25px;
  min-height: 24px; }

.form-field-box .orari {
  padding-left: 25px;
  background: url(images/common/watch-icon.png) no-repeat left 2px;
  background-size: 16px 16px;
  line-height: 18px;
  padding: 3px 25px;
  text-transform: uppercase; }

.form-field-box.with-icons .orari {
  margin-left: -25px; }

.form-field-box .details {
  font-family: 'UniversNW01-420CdRegula';
  font-size: 13px;
  color: #939393;
  display: block;
  padding-top: 14px;
  padding-left: 25px; }

.form-field-box.with-icons .details {
  padding-left: 0; }

.form-field-box-link {
  font-family: 'UniversNW01-420CdRegula';
  font-size: 13px;
  color: #939393;
  text-transform: uppercase; }

.form-field-box-link .button {
  width: auto;
  margin-left: 10px; }

.form-field-box-toolbar {
  margin-top: -10px;
  font-family: 'UniversNW01-420CdRegula';
  font-size: 13px;
  color: #939393; }

.form-field-box-toolbar a {
  color: #939393;
  text-decoration: underline; }

@media (min-width: 992px) {
  html, body {
    font-size: 16px;
    background-color: #fffef8; } }
@media (min-width: 768px) and (max-width: 991px) {
  html, body {
    font-size: 14px; }

  .section {
    padding: 0 !important;
    border-top: 0 !important; } }
@media (max-width: 767px) {
  html, body {
    font-size: 12px; }

  .section {
    padding: 0 !important;
    border-top: 0 !important; } }
.page {
  width: 100%;
  height: auto;
  overflow: hidden; }
  .page .editorial-max-width {
    max-width: 1300px !important;
    margin-right: auto !important;
    margin-left: auto !important; }
  .page img {
    width: 100%;
    display: block;
    height: auto; }
  .page a:hover {
    cursor: pointer; }
  .page .brand {
    width: 100%;
    height: 110px;
    box-sizing: border-box;
    padding-top: 25px; }
    .page .brand .top-logo {
      display: table;
      margin: 0 auto; }
      .page .brand .top-logo img {
        height: 67px; }
  .page .sub-menu-sm-xs {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 0;
    overflow: auto;
    height: 100%;
    background-color: #fffef8;
    z-index: 100;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -o-transition: all, 0.6s ease;
    transition: all .6s ease;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .page .sub-menu-sm-xs .close {
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      display: block;
      display: none; }
    .page .sub-menu-sm-xs .submenus {
      margin: 0;
      padding: 0;
      list-style: none;
      display: block;
      border-top: solid 1px #2434e2;
      border-bottom: solid 1px #2434e2; }
      .page .sub-menu-sm-xs .submenus .submenu-item {
        border-top: solid 1px #2434e2;
        border-bottom: solid 1px #2434e2;
        padding: 10px; }
        .page .sub-menu-sm-xs .submenus .submenu-item a {
          text-transform: uppercase;
          text-decoration: none;
          display: block;
          color: #2434e2;
          font-size: 12px;
          line-height: 20px;
          font-family: 'Meta Serif Offc W01 Bold';
          position: relative;
          background-repeat: no-repeat;
          background-position: center right;
          font-weight: bolder; }
          .page .sub-menu-sm-xs .submenus .submenu-item a.plus {
            background-image: url(../images/icon_plus_xs.png);
            background-size: 10px 10px; }
            .page .sub-menu-sm-xs .submenus .submenu-item a.plus.opened {
              background-image: url(../images/icon_minus_xs.png);
              background-size: 10px 2px; }
        .page .sub-menu-sm-xs .submenus .submenu-item ul:not(.countryul) {
          display: none;
          border-bottom: 0; }
          .page .sub-menu-sm-xs .submenus .submenu-item ul:not(.countryul) li {
            margin: 0 -20px;
            padding: 0 20px 0 20px;
            border-top: 0; }
            .page .sub-menu-sm-xs .submenus .submenu-item ul:not(.countryul) li a {
              padding: 10px 0 10px 0;
              border-top: 0;
              color: #656463;
              font-family: 'UniversNW01-420CdRegula';
              background: 0;
              font-size: 10px;
              text-transform: uppercase;
              color: #2434e2;
              text-decoration: none;
              font-weight: normal; }
              .page .sub-menu-sm-xs .submenus .submenu-item ul:not(.countryul) li a img {
                display: block;
                width: 100%; }
        .page .sub-menu-sm-xs .submenus .submenu-item.item-wechat-share {
          padding: 3; }
          .page .sub-menu-sm-xs .submenus .submenu-item.item-wechat-share .wechat-share {
            height: 34px;
            box-sizing: border-box;
            border: 2px #2434e2 solid; }
            .page .sub-menu-sm-xs .submenus .submenu-item.item-wechat-share .wechat-share span {
              display: inline-block;
              float: left; }
              .page .sub-menu-sm-xs .submenus .submenu-item.item-wechat-share .wechat-share span.s-1 {
                line-height: 30px;
                font-size: 12px;
                height: 30px;
                padding-left: 18px; }
              .page .sub-menu-sm-xs .submenus .submenu-item.item-wechat-share .wechat-share span.s-2 {
                width: 24px;
                height: 30px;
                background: url(../images/icon_wechat_xs.png) no-repeat center center;
                background-size: 24px 20px;
                margin-left: 12px; }
              .page .sub-menu-sm-xs .submenus .submenu-item.item-wechat-share .wechat-share span.s-3 {
                width: 24px;
                height: 30px;
                background: url(../images/icon_redbag_xs.png) no-repeat center center;
                background-size: 24px 18px;
                margin-left: 5px; }
              .page .sub-menu-sm-xs .submenus .submenu-item.item-wechat-share .wechat-share span.s-4 {
                width: 24px;
                height: 30px;
                background: url(../images/icon_redbag_xs.png) no-repeat center center;
                background-size: 12px 12px;
                float: right; }
    .page .sub-menu-sm-xs.opened {
      max-width: 75%;
      border-right: #2434e2 4px solid; }
      .page .sub-menu-sm-xs.opened .close {
        display: block; }
  .page .search-sm-xs {
    width: 100%;
    overflow: auto; }
    .page .search-sm-xs .textbox {
      border: 1px solid #e1e1e1;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      height: 35px;
      min-height: 35px;
      font-family: 'MetaSerifCompPro-Book W01 Rg';
      font-size: 15px;
      padding: 5px 10px 5px 10px;
      line-height: 21px;
      color: #666564;
      display: block;
      outline: 0;
      border-radius: 0; }
      .page .search-sm-xs .textbox.search {
        border-color: #2434e2;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        padding-left: 40px;
        font-family: "MetaSerifCompPro-Book W01 Rg";
        color: #333;
        font-size: 12px;
        padding-bottom: 4px;
        box-sizing: border-box; }
    .page .search-sm-xs input::-ms-clear {
      display: none !important; }
    .page .search-sm-xs input.textbox {
      height: 35px; }
    .page .search-sm-xs .search-wrap {
      padding-left: 30px;
      padding-right: 30px; }
    .page .search-sm-xs .textbox-search {
      height: 35px !important;
      line-height: 35px !important;
      position: relative; }
      .page .search-sm-xs .textbox-search a {
        width: 35px;
        height: 33px;
        background-color: #fffef8;
        position: absolute;
        left: 0;
        top: 0;
        box-sizing: border-box;
        padding: 10px 0 10px 12px; }
        .page .search-sm-xs .textbox-search a img {
          display: block;
          width: 12px;
          height: 12px; }
  .page .main-menu {
    display: block;
    box-sizing: border-box;
    width: 100%; }
    .page .main-menu .menu-box {
      border-top: #2434e2 4px solid;
      padding-top: 4px; }
    .page .main-menu .menu-items {
      position: relative;
      box-sizing: border-box;
      border-top: #2434e2 2px solid;
      border-bottom: #2434e2 2px solid;
      height: 40px;
      padding: 0;
      list-style: none;
      display: -moz-box;
      display: -moz-flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-box-pack: justify;
      -moz-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
      align-content: stretch;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start; }
    .page .main-menu .menu-item {
      width: 12.5%;
      -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
      -webkit-align-self: auto;
      -ms-flex-item-align: auto;
      align-self: auto; }
    .page .main-menu .title {
      width: 100%;
      display: inline-block;
      line-height: 40px;
      font-family: 'Meta Serif Offc W01 Bold';
      font-size: 1.125rem;
      font-weight: normal !important;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      color: #2434e2; }
      .page .main-menu .title:hover, .page .main-menu .title.selected {
        color: #68bef9; }
    .page .main-menu .sub-menu {
      box-sizing: border-box;
      width: 100%;
      height: 0;
      position: absolute;
      left: 0;
      top: 40px;
      background-color: rgba(255, 255, 255, 0.8);
      z-index: 200;
      background-color: #fffef8;
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -o-transition: all, 0.3s ease;
      transition: all .3s ease;
      overflow: hidden; }
      .page .main-menu .sub-menu .sub-menu-list {
        padding: 15px 0;
        font-size: 0; }
      .page .main-menu .sub-menu .sub-menu-column {
        display: inline-block;
        vertical-align: top;
        border-left: 1px #2434e2 solid;
        font-size: 0; }
        .page .main-menu .sub-menu .sub-menu-column a {
          font-size: 14px;
          color: #7B81D3;
          white-space: normal;
          display: inline-block;
          padding: 0 15px;
          line-height: 1; }
          .page .main-menu .sub-menu .sub-menu-column a:hover {
            text-decoration: underline;
            color: #68bef9; }
        .page .main-menu .sub-menu .sub-menu-column:last-child {
          border-right: 1px #2434e2 solid; }
      .page .main-menu .sub-menu.open {
        height: 50px; }
  .page .main-menu-xs {
    display: block;
    padding-bottom: 10px; }
    .page .main-menu-xs .nav-bar {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 3px;
      box-sizing: border-box;
      border-bottom: #2434e2 2px solid; }
    .page .main-menu-xs .nav-box {
      box-sizing: border-box;
      width: 100%;
      height: 5rem;
      padding: 0.9375rem 0;
      background-color: #fff;
      border-bottom: #2434e2 4px solid; }
      .page .main-menu-xs .nav-box a {
        display: block;
        text-decoration: none;
        width: 100%;
        height: 3.125rem;
        box-sizing: border-box;
        position: relative;
        text-indent: -9999px; }
      .page .main-menu-xs .nav-box .menu-toggle span {
        display: block;
        width: 1.5625rem;
        height: 1.5625rem;
        background: url(../images/icon_menu_toggle.png) no-repeat center center;
        background-size: 100% 100%;
        position: absolute;
        left: 0.9375rem;
        top: 0.9375rem; }
      .page .main-menu-xs .nav-box .logo-xs {
        background: url(../images/icon_logo.png) no-repeat center center;
        background-size: 100% 100%;
        background-size: 14.375rem 3.125rem; }
      .page .main-menu-xs .nav-box .search-xs span {
        display: block;
        width: 1.5625rem;
        height: 1.5625rem;
        background: url(../images/icon_search.png) no-repeat center center;
        background-size: 100% 100%;
        position: absolute;
        right: 0.9375rem;
        top: 0.9375rem; }
  .page .sidebar-center .row {
    padding-top: 10px;
    padding-bottom: 5px; }
  .page .sidebar-center a:hover {
    text-decoration: none; }
  .page .sidebar-center span {
    display: block;
    padding-top: 25px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 25px 25px;
    font-size: 10px;
    line-height: 20px;
    color: #2434e2;
    text-align: center;
    font-weight: bolder; }
    .page .sidebar-center span.service {
      background-image: url(../images/icon_service_xs.png); }
    .page .sidebar-center span.book {
      background-image: url(../images/icon_book_xs.png); }
    .page .sidebar-center span.shop {
      background-image: url(../images/icon_shop_xs.png); }
    .page .sidebar-center span.account {
      background-image: url(../images/icon_account_xs.png); }
  .page .prod-list .section {
    padding: 0;
    border-top: 0; }
  .page .prod-list .row {
    margin-left: -25px;
    margin-right: -25px; }
  .page .prod-list .prod-item {
    padding: 25px; }
  @media (min-width: 768px) and (max-width: 991px) {
    .page .prod-list .row {
      margin-left: 20;
      margin-right: 20; }
    .page .prod-list .prod-item {
      padding: 8px; } }
  @media (max-width: 767px) {
    .page .prod-list .row {
      margin-left: 20;
      margin-right: 20; }
    .page .prod-list .prod-item {
      padding: 8px; } }
  .page .prod-list .prod-img {
    cursor: pointer;
    position: relative;
    background-color: #fffef8; }
    .page .prod-list .prod-img .front-img {
      width: 100%;
      height: auto; }
    .page .prod-list .prod-img .back-img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-size: contain;
      opacity: 0;
      z-index: 2;
      -webkit-transition: opacity 400ms linear;
      -moz-transition: opacity 400ms linear;
      -o-transition: opacity 400ms linear;
      transition: opacity 400ms linear; }
    .page .prod-list .prod-img .default-img {
      width: 100%;
      height: auto; }
    .page .prod-list .prod-img:hover .back-img {
      opacity: 1; }
  .page .prod-list .info .prod-name {
    box-sizing: border-box;
    width: 100%;
    font-size: 14px;
    line-height: 1;
    color: #000;
    padding: 8px 0 4px 0;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .page .prod-list .info .prod-descri {
    box-sizing: border-box;
    width: 100%;
    font-size: 10px;
    line-height: 14px;
    color: #9d9c98; }
  .page .prod-list .info .prod-price {
    width: 100%;
    height: 28px;
    position: relative; }
    .page .prod-list .info .prod-price span {
      display: inline-block;
      text-decoration: none; }
    .page .prod-list .info .prod-price .price {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      padding-right: 28px;
      padding-top: 8px;
      font-size: 12px;
      line-height: 20px;
      color: #2434e2;
      font-weight: bolder; }
    .page .prod-list .info .prod-price .btn_buy {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 6px;
      right: 5px;
      background: url(../images/icon_buy.png) no-repeat center center;
      background-size: 100% 100%;
      text-indent: -9999px; }
  .page .prod-list .prod-box {
    min-height: 120px; }
    .page .prod-list .prod-box:hover .info {
      opacity: 1; }
  .page .footer-menu .footer-box {
    border-top: #2434e2 4px solid;
    padding-top: 4px; }
    .page .footer-menu .footer-box .wrap {
      border-top: #2434e2 2px solid;
      border-bottom: #2434e2 2px solid; }
  .page .footer-menu .row {
    padding: 30px 0; }
  .page .footer-menu .sub-logo {
    width: 100%;
    height: 180px;
    background: url(../images/topLogo.png) no-repeat center center;
    background-size: 240px 40px; }
  .page .footer-menu .sub-menu .tit {
    box-sizing: border-box;
    height: 56px;
    padding-top: 32px;
    font-size: 0.9375rem;
    color: #2434e2;
    line-height: 1.5rem;
    text-align: left;
    position: relative; }
    .page .footer-menu .sub-menu .tit:before {
      content: '';
      width: 100%;
      height: 32px;
      display: block;
      position: absolute;
      top: 0;
      background-position: 18px center;
      background-repeat: no-repeat; }
  .page .footer-menu .sub-menu .wrap-box {
    margin-top: 20px; }
  .page .footer-menu .sub-menu li.vip .tit:before {
    background-image: url(../images/icon_vip.png);
    background-size: 19px 20px; }
  .page .footer-menu .sub-menu li.guide .tit:before {
    background-image: url(../images/icon_guide.png);
    background-size: 20px 20px; }
  .page .footer-menu .sub-menu li.delivery .tit:before {
    background-image: url(../images/icon_delivery.png);
    background-size: 18px 19px; }
  .page .footer-menu .sub-menu li.pay .tit:before {
    background-image: url(../images/icon_pay.png);
    background-size: 20px 22px; }
  .page .footer-menu .sub-menu li.service .tit:before {
    background-image: url(../images/icon_service.png);
    background-size: 19px 22px; }
  .page .footer-menu .sub-menu a {
    width: 100%;
    display: block;
    font-family: 'Meta Serif Offc W01 Bold';
    font-size: 0.9375rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #2434e2;
    line-height: 1.0625rem;
    padding: 0;
    min-height: 1.75rem; }
    .page .footer-menu .sub-menu a:hover {
      text-decoration: underline; }
  .page .footer-menu .sub-qrcode .tit {
    box-sizing: border-box;
    height: 56px;
    padding-top: 32px;
    font-size: 0.9375rem;
    color: #2434e2;
    line-height: 1.5rem;
    text-align: center;
    position: relative; }
    .page .footer-menu .sub-qrcode .tit:before {
      content: '';
      width: 100%;
      height: 32px;
      display: block;
      position: absolute;
      top: 0;
      background-position: center center;
      background-repeat: no-repeat; }
  .page .footer-menu .sub-qrcode .qrcode {
    width: 80px;
    height: 80px;
    background-color: #ccc;
    margin: 0 auto;
    margin-top: 20px; }
  .page .footer-menu .sub-qrcode li {
    float: left; }
    .page .footer-menu .sub-qrcode li.online .tit:before {
      background-image: url(../images/icon_wechat.png);
      background-size: 17px 14px; }
    .page .footer-menu .sub-qrcode li.wechat .tit:before {
      background-image: url(../images/icon_wechat.png);
      background-size: 17px 14px; }
    .page .footer-menu .sub-qrcode li.webo .tit:before {
      background-image: url(../images/icon_webo.png);
      background-size: 17px 14px; }
  .page .footer-menu-mobile .row {
    padding: 10px 0; }
  .page .footer-menu-mobile .sub-menu .tit {
    display: block;
    height: 24px;
    padding-top: 0;
    font-size: 1.25rem;
    line-height: 1.5;
    text-align: center; }
    .page .footer-menu-mobile .sub-menu .tit:before {
      display: none; }
  .page .footer-menu-mobile .sub-menu .wrap-box {
    text-align: center;
    display: none;
    border-bottom: medium none; }
    .page .footer-menu-mobile .sub-menu .wrap-box a {
      font-size: 1.2rem;
      line-height: 1.4; }
    .page .footer-menu-mobile .sub-menu .wrap-box.opened {
      display: block !important; }
  .page .bottom .bottom-box {
    padding: 25px 0;
    position: relative; }
  .page .bottom .bt-nav {
    padding-bottom: 40px; }
    .page .bottom .bt-nav a {
      box-sizing: border-box;
      border-left: #2434e2 1px solid;
      font-size: 0.9375rem;
      line-height: 1;
      text-align: center;
      color: #2434e2; }
      .page .bottom .bt-nav a:hover {
        text-decoration: underline; }
      .page .bottom .bt-nav a:last-child {
        border-right: #2434e2 1px solid; }
    @media (min-width: 768px) and (max-width: 991px) {
      .page .bottom .bt-nav {
        padding-bottom: 16px; } }
    @media (max-width: 767px) {
      .page .bottom .bt-nav {
        padding-bottom: 16px; } }
  .page .bottom .copy {
    font-size: 0.9375rem;
    line-height: 1.5rem;
    text-align: center;
    color: #2434e2; }
  .page .bottom .back-top {
    width: 36px;
    height: 34px;
    background: url(../images/icon_backtop.png) no-repeat center center;
    background-size: 100% 100%;
    position: absolute;
    top: 10px;
    right: 5px; }
    .page .bottom .back-top:hover {
      cursor: pointer; }

.ribbon-right {
  width: 40px;
  max-height: none;
  max-width: 40px;
  overflow: hidden;
  position: fixed;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 400;
  background-color: #fffef8;
  -webkit-transition: max-width .6s ease, top .6s ease, width .6s ease;
  -moz-transition: max-width .6s ease, top .6s ease, width .6s ease;
  -o-transition: max-width .6s ease, top .6s ease, width .6s ease;
  transition: max-width .6s ease, top .6s ease, width .6s ease; }
  .ribbon-right #close-ribbon-right {
    position: absolute;
    z-index: 999;
    top: 40px;
    right: 30px; }
    .ribbon-right #close-ribbon-right img {
      width: 30px;
      height: auto; }
  .ribbon-right .sliderWrap {
    margin: 0 auto;
    width: 350px;
    position: absolute;
    left: 40px;
    top: 0;
    height: 100%; }
    .ribbon-right .sliderWrap.nobg {
      background: 0; }
    .ribbon-right .sliderWrap.bg2 {
      background: url(images/common/geniousbar-bg2.gif) repeat-x left top; }
    .ribbon-right .sliderWrap .content {
      display: none;
      height: 100%;
      overflow: hidden;
      padding: 0; }
  .ribbon-right .siderbar-title {
    margin: 0;
    height: 100px;
    line-height: 100px;
    padding-left: 30px;
    padding-right: 30px;
    display: block;
    text-align: left;
    color: #2434e2; }
    .ribbon-right .siderbar-title a {
      text-decoration: none; }
    .ribbon-right .siderbar-title.noborder {
      border-bottom: 0; }
  .ribbon-right .sidebar-subtitle {
    line-height: 26px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding-left: 30px;
    padding-right: 30px; }
    .ribbon-right .sidebar-subtitle.bordertop {
      border-top: 1px solid #ddd; }
  .ribbon-right .geniousbarcontent {
    width: 100%;
    overflow: auto;
    height: 100%; }
    .ribbon-right .geniousbarcontent .wrapper {
      padding-left: 30px;
      padding-right: 30px; }
    .ribbon-right .geniousbarcontent .textbox.search {
      border-color: #2434e2;
      border-top: transparent;
      border-left: transparent;
      border-right: transparent;
      padding-left: 0;
      font-family: "MetaSerifCompPro-Book W01 Rg";
      color: #333;
      font-size: 15px;
      padding-bottom: 4px; }
  .ribbon-right .sidebar-rt {
    display: block;
    width: 40px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-left: #2434e2 2px solid;
    border-right: #2434e2 2px solid; }
  .ribbon-right .typo2 {
    font-family: 'MetaSerifCompPro-Book W01 Rg';
    font-size: 20px;
    font-weight: normal !important; }
  .ribbon-right .textbox {
    border: 1px solid #e1e1e1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 35px;
    min-height: 35px;
    font-family: 'MetaSerifCompPro-Book W01 Rg';
    font-size: 15px;
    padding: 5px 10px 5px 10px;
    line-height: 21px;
    color: #666564;
    display: block;
    outline: 0; }
  .ribbon-right input::-ms-clear {
    display: none !important; }
  .ribbon-right input.textbox {
    height: 35px; }
  .textbox-submit .ribbon-right .textbox.inverse {
    border-color: #636363 !important;
    background-color: #2f2f2e !important; }
  .ribbon-right .textbox .submit {
    background-size: 34px 35px;
    padding-right: 40px; }
  .ribbon-right .textbox-submit {
    line-height: 35px !important;
    height: 35px !important;
    position: relative;
    border: 0;
    padding: 0;
    margin: 0; }
    .ribbon-right .textbox-submit a {
      display: block !important;
      position: absolute !important;
      right: 1px !important;
      top: 1px !important;
      width: 33px !important;
      height: 33px !important;
      background-size: 26px 26px !important;
      text-decoration: none !important;
      background-color: #f3f2f1 !important; }
    .ribbon-right .textbox-submit.inverse a {
      background-size: 26px 26px !important;
      background-color: #636363 !important; }
  .ribbon-right .textbox-search {
    height: 35px !important;
    line-height: 35px !important;
    position: relative; }
    .ribbon-right .textbox-search a {
      width: 35px;
      height: 35px;
      background-color: #fffef8;
      position: absolute;
      right: 0;
      top: 1px;
      box-sizing: border-box;
      padding: 6px 0 6px 12px; }
      .ribbon-right .textbox-search a img {
        display: block;
        width: 22px;
        height: 22px; }
  .ribbon-right .geniousbaricons {
    margin: 0;
    padding: 0;
    list-style-type: none;
    top: 220px;
    left: 1px;
    position: absolute; }
    .ribbon-right .geniousbaricons li {
      margin: 0;
      padding: 0; }
      .ribbon-right .geniousbaricons li a {
        width: 40px;
        height: 50px;
        display: block;
        outline: 0;
        position: relative; }
        .ribbon-right .geniousbaricons li a span {
          position: absolute;
          width: 22px;
          height: 23px;
          left: 50%;
          margin-left: -12px;
          top: 50%;
          margin-top: -11px;
          background-repeat: no-repeat;
          background-position: center top;
          background-size: cover; }
        .ribbon-right .geniousbaricons li a:hover span, .ribbon-right .geniousbaricons li a.active span {
          background-position: center bottom; }
        .ribbon-right .geniousbaricons li a.geniousbar-search span {
          background-image: url(../images/icon_search.png); }
        .ribbon-right .geniousbaricons li a.geniousbar-account span {
          background-image: url(../images/icon_account.png); }
        .ribbon-right .geniousbaricons li a.geniousbar-shop span {
          background-image: url(../images/icon_shop.png); }
        .ribbon-right .geniousbaricons li a.geniousbar-book span {
          background-image: url(../images/icon_book.png); }
  .ribbon-right .content01 {
    padding: 0; }
  .ribbon-right .content03 {
    width: 100%; }
  .ribbon-right.opened {
    max-width: 390px;
    width: 100%; }

input::-webkit-input-placeholder {
  color: #2434e2; }

input:-moz-placeholder {
  color: #2434e2; }

input::-moz-placeholder {
  color: #2434e2; }

input:-ms-input-placeholder {
  color: #2434e2; }

input:focus::-webkit-input-placeholder {
  opacity: 0; }

input:focus:-moz-placeholder {
  opacity: 0; }

input:focus::-moz-placeholder {
  opacity: 0; }

input:focus:-ms-input-placeholder {
  opacity: 0; }

#geniousbar-account-login .titles {
  text-align: center;
  padding-top: 27px;
  text-transform: uppercase; }
#geniousbar-account-login .ckbx.checkbox span.icon {
  background-size: 20px 60px !important;
  width: 20px;
  height: 20px; }
#geniousbar-account-login .ckbx label {
  color: #656463; }
#geniousbar-account-login .textbox {
  border: 1px solid #e7e7e7; }
#geniousbar-account-login .secondary-button {
  border: 1px solid #d8d8d8;
  color: #656463; }
  #geniousbar-account-login .secondary-button:link, #geniousbar-account-login .secondary-button:visited {
    border: 1px solid #d8d8d8;
    color: #656463; }
#geniousbar-account-login .login-action, #geniousbar-account-login .login-footer {
  text-align: center; }
#geniousbar-account-login a {
  color: #181818;
  text-decoration: underline; }
  #geniousbar-account-login a:hover, #geniousbar-account-login a:active {
    color: #181818;
    text-decoration: underline; }
#geniousbar-account-login .checkbox {
  margin: 0 0 21px;
  height: 20px; }
  #geniousbar-account-login .checkbox label {
    line-height: 1.5;
    padding: 0 0 0 27px; }
#geniousbar-account-login .login-footer {
  border-top: solid 2px #e7e7e7;
  padding-top: 26px; }

#geniousbar-account-signup .register-action a {
  background-color: transparent; }
#geniousbar-account-signup .benefits-action {
  padding-bottom: 80px; }
  #geniousbar-account-signup .benefits-action a {
    color: #181818;
    text-decoration: underline; }
    #geniousbar-account-signup .benefits-action a:hover, #geniousbar-account-signup .benefits-action a:active {
      color: #181818;
      text-decoration: underline; }
#geniousbar-account-signup .login-action {
  text-align: center;
  margin-bottom: 80px; }
  #geniousbar-account-signup .login-action a {
    color: #181818;
    text-decoration: underline; }
    #geniousbar-account-signup .login-action a:hover, #geniousbar-account-signup .login-action a:active {
      color: #181818;
      text-decoration: underline; }
#geniousbar-account-signup #password {
  margin-bottom: 7px; }

.ribbon-right {
  width: 40px;
  max-height: none;
  max-width: 40px;
  overflow: hidden;
  position: fixed;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 400;
  background-color: #fffef8;
  -webkit-transition: max-width .6s ease, top .6s ease, width .6s ease;
  -moz-transition: max-width .6s ease, top .6s ease, width .6s ease;
  -o-transition: max-width .6s ease, top .6s ease, width .6s ease;
  transition: max-width .6s ease, top .6s ease, width .6s ease; }
  .ribbon-right #close-ribbon-right {
    position: absolute;
    z-index: 999;
    top: 40px;
    right: 30px; }
    .ribbon-right #close-ribbon-right img {
      width: 30px;
      height: auto; }
  .ribbon-right .sliderWrap {
    margin: 0 auto;
    width: 350px;
    position: absolute;
    left: 40px;
    top: 0;
    height: 100%; }
    .ribbon-right .sliderWrap.nobg {
      background: 0; }
    .ribbon-right .sliderWrap.bg2 {
      background: url(images/common/geniousbar-bg2.gif) repeat-x left top; }
    .ribbon-right .sliderWrap .content {
      display: none;
      height: 100%;
      overflow: hidden;
      padding: 0; }
  .ribbon-right .siderbar-title {
    margin: 0;
    height: 100px;
    line-height: 100px;
    padding-left: 30px;
    padding-right: 30px;
    display: block;
    text-align: left;
    color: #2434e2; }
    .ribbon-right .siderbar-title a {
      text-decoration: none; }
    .ribbon-right .siderbar-title.noborder {
      border-bottom: 0; }
  .ribbon-right .sidebar-subtitle {
    line-height: 26px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding-left: 30px;
    padding-right: 30px; }
    .ribbon-right .sidebar-subtitle.bordertop {
      border-top: 1px solid #ddd; }
  .ribbon-right .geniousbarcontent {
    width: 100%;
    overflow: auto;
    height: 100%; }
    .ribbon-right .geniousbarcontent .wrapper {
      padding-left: 30px;
      padding-right: 30px; }
    .ribbon-right .geniousbarcontent .textbox.search {
      border-color: #2434e2;
      border-top: transparent;
      border-left: transparent;
      border-right: transparent;
      padding-left: 0;
      font-family: "MetaSerifCompPro-Book W01 Rg";
      color: #333;
      font-size: 15px;
      padding-bottom: 4px; }
  .ribbon-right .sidebar-rt {
    display: block;
    width: 40px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-left: #2434e2 2px solid;
    border-right: #2434e2 2px solid; }
  .ribbon-right .typo2 {
    font-family: 'MetaSerifCompPro-Book W01 Rg';
    font-size: 20px;
    font-weight: normal !important; }
  .ribbon-right .textbox {
    border: 1px solid #e1e1e1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 35px;
    min-height: 35px;
    font-family: 'MetaSerifCompPro-Book W01 Rg';
    font-size: 15px;
    padding: 5px 10px 5px 10px;
    line-height: 21px;
    color: #666564;
    display: block;
    outline: 0; }
  .ribbon-right input::-ms-clear {
    display: none !important; }
  .ribbon-right input.textbox {
    height: 35px; }
  .textbox-submit .ribbon-right .textbox.inverse {
    border-color: #636363 !important;
    background-color: #2f2f2e !important; }
  .ribbon-right .textbox .submit {
    background-size: 34px 35px;
    padding-right: 40px; }
  .ribbon-right .textbox-submit {
    line-height: 35px !important;
    height: 35px !important;
    position: relative;
    border: 0;
    padding: 0;
    margin: 0; }
    .ribbon-right .textbox-submit a {
      display: block !important;
      position: absolute !important;
      right: 1px !important;
      top: 1px !important;
      width: 33px !important;
      height: 33px !important;
      background-size: 26px 26px !important;
      text-decoration: none !important;
      background-color: #f3f2f1 !important; }
    .ribbon-right .textbox-submit.inverse a {
      background-size: 26px 26px !important;
      background-color: #636363 !important; }
  .ribbon-right .textbox-search {
    height: 35px !important;
    line-height: 35px !important;
    position: relative; }
    .ribbon-right .textbox-search a {
      width: 35px;
      height: 35px;
      background-color: #fffef8;
      position: absolute;
      right: 0;
      top: 1px;
      box-sizing: border-box;
      padding: 6px 0 6px 12px; }
      .ribbon-right .textbox-search a img {
        display: block;
        width: 22px;
        height: 22px; }
  .ribbon-right .geniousbaricons {
    margin: 0;
    padding: 0;
    list-style-type: none;
    top: 220px;
    left: 1px;
    position: absolute; }
    .ribbon-right .geniousbaricons li {
      margin: 0;
      padding: 0; }
      .ribbon-right .geniousbaricons li a {
        width: 40px;
        height: 50px;
        display: block;
        outline: 0;
        position: relative; }
        .ribbon-right .geniousbaricons li a span {
          position: absolute;
          width: 22px;
          height: 23px;
          left: 50%;
          margin-left: -12px;
          top: 50%;
          margin-top: -11px;
          background-repeat: no-repeat;
          background-position: center top;
          background-size: cover; }
        .ribbon-right .geniousbaricons li a:hover span, .ribbon-right .geniousbaricons li a.active span {
          background-position: center bottom; }
        .ribbon-right .geniousbaricons li a.geniousbar-search span {
          background-image: url(../images/icon_search.png); }
        .ribbon-right .geniousbaricons li a.geniousbar-account span {
          background-image: url(../images/icon_account.png); }
        .ribbon-right .geniousbaricons li a.geniousbar-shop span {
          background-image: url(../images/icon_shop.png); }
        .ribbon-right .geniousbaricons li a.geniousbar-book span {
          background-image: url(../images/icon_book.png); }
  .ribbon-right .content01 {
    padding: 0; }
  .ribbon-right .content03 {
    width: 100%; }
  .ribbon-right.opened {
    max-width: 390px;
    width: 100%; }

/*# sourceMappingURL=common.css.map */
