.page-detail a {
  text-decoration: none; }
  .page-detail a.hover, .page-detail a.active {
    text-decoration: none; }
.page-detail .share-save-xs .top-bar {
  width: 100%;
  height: auto;
  height: 26px;
  position: relative; }
  .page-detail .share-save-xs .top-bar .title {
    font-size: 1rem;
    color: #2434e2;
    text-align: center;
    position: relative;
    width: 100%;
    line-height: 26px; }
  .page-detail .share-save-xs .top-bar .share-save-box {
    position: absolute;
    right: 20px;
    top: 0;
    width: 60px;
    box-sizing: border-box;
    padding-top: 6px; }
    .page-detail .share-save-xs .top-bar .share-save-box .save-xs, .page-detail .share-save-xs .top-bar .share-save-box .share-xs {
      float: right;
      display: block; }
    .page-detail .share-save-xs .top-bar .share-save-box .share-xs {
      width: 20px;
      height: 15px;
      background: url(../images/icon_share.png) no-repeat center center;
      background-size: 20px 15px; }
    .page-detail .share-save-xs .top-bar .share-save-box .save-xs {
      width: 20px;
      height: 15px;
      background: url(../images/icon_save.png) no-repeat center center;
      background-size: 20px 15px;
      margin-right: 6px; }
  .page-detail .share-save-xs .top-bar .back-box {
    position: absolute;
    left: 20px;
    top: 0;
    width: 20px;
    box-sizing: border-box;
    padding-top: 8px; }
    .page-detail .share-save-xs .top-bar .back-box .back {
      display: block;
      width: 10px;
      height: 10px;
      background: url(../images/arrow_lf_m.png) no-repeat center center;
      background-size: 10px 10px; }
.page-detail .shopcar-xs {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  border-top: 1px #9d9c98 solid;
  border-bottom: 1px #9d9c98 solid;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 500; }
  .page-detail .shopcar-xs .price {
    font-size: 12px;
    color: #000;
    line-height: 38px;
    margin-left: 20px;
    float: left; }
  .page-detail .shopcar-xs .add-shopcar {
    width: 86px;
    height: 24px;
    box-sizing: border-box;
    border: 1px #9d9c98 solid;
    line-height: 22px;
    color: #9d9c98;
    font-size: 1rem;
    float: right;
    margin-right: 20px;
    margin-top: 7px;
    text-align: center; }
.page-detail .prod {
  width: 100%; }
  .page-detail .prod .prod-slider {
    padding: 20px 70px; }
  .page-detail .prod .prod-detail .detail-info {
    padding-top: 100px; }
  .page-detail .prod .prod-detail .name {
    font-size: 1.5rem;
    line-height: 1;
    color: #2434e2;
    margin-bottom: 1.25rem;
    margin-top: 0; }
  .page-detail .prod .prod-detail .rate {
    font-size: 1.25rem;
    line-height: 1;
    color: #2434e2;
    margin-bottom: 1.25rem; }
  .page-detail .prod .prod-detail .descri {
    font-size: 1.125rem;
    color: #9d9c98;
    line-height: 1.75rem;
    margin-bottom: 3.125rem; }
  .page-detail .prod .prod-detail .selector {
    margin-bottom: 8px; }
  .page-detail .prod .prod-detail .s-item {
    margin: 0;
    padding: 0; }
    .page-detail .prod .prod-detail .s-item dt {
      float: left;
      font-size: 1rem;
      line-height: 20px;
      height: 20px;
      color: #9d9c98;
      margin-right: 20px;
      font-weight: normal; }
    .page-detail .prod .prod-detail .s-item dd {
      float: left;
      height: 20px; }
      .page-detail .prod .prod-detail .s-item dd ul li {
        float: left;
        margin-right: 10px; }
        .page-detail .prod .prod-detail .s-item dd ul li a {
          text-decoration: none; }
          .page-detail .prod .prod-detail .s-item dd ul li a:hover, .page-detail .prod .prod-detail .s-item dd ul li a:active {
            text-decoration: none; }
  .page-detail .prod .prod-detail .color-select .color-item {
    display: block;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border: 1px #ccc solid;
    padding: 2px; }
    .page-detail .prod .prod-detail .color-select .color-item span {
      display: block;
      width: 14px;
      height: 14px;
      background-color: #fff;
      text-indent: -9999px; }
    .page-detail .prod .prod-detail .color-select .color-item.black span {
      background-color: #000; }
    .page-detail .prod .prod-detail .color-select .color-item.white span {
      background-color: #fff; }
    .page-detail .prod .prod-detail .color-select .color-item.red span {
      background-color: #ff0000; }
    .page-detail .prod .prod-detail .color-select .color-item.orange span {
      background-color: #FFA500; }
    .page-detail .prod .prod-detail .color-select .color-item.yellow span {
      background-color: #FFFF00; }
    .page-detail .prod .prod-detail .color-select .color-item.green span {
      background-color: #00FF00; }
    .page-detail .prod .prod-detail .color-select .color-item.cyan span {
      background-color: #00FFFF; }
    .page-detail .prod .prod-detail .color-select .color-item.blue span {
      background-color: #1E90FF; }
    .page-detail .prod .prod-detail .color-select .color-item.purple span {
      background-color: #8B00FF; }
    .page-detail .prod .prod-detail .color-select .color-item.brown span {
      background-color: #4D3900; }
    .page-detail .prod .prod-detail .color-select .color-item.gray span {
      background-color: #808080; }
    .page-detail .prod .prod-detail .color-select .color-item.selected {
      border-color: #2434e2; }
  .page-detail .prod .prod-detail .size-select .size-item {
    width: 20px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #9d9c98; }
    .page-detail .prod .prod-detail .size-select .size-item.selected {
      color: #2434e2; }
  .page-detail .prod .prod-detail .counter-group .minus, .page-detail .prod .prod-detail .counter-group .count, .page-detail .prod .prod-detail .counter-group .plus {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    line-height: 18px;
    font-size: 10px;
    float: left;
    text-align: center;
    color: #9d9c98; }
  .page-detail .prod .prod-detail .counter-group .minus, .page-detail .prod .prod-detail .counter-group .plus {
    color: #9d9c98;
    border: 1px #9d9c98 solid; }
    .page-detail .prod .prod-detail .counter-group .minus.active, .page-detail .prod .prod-detail .counter-group .plus.active {
      color: #2434e2; }
    .page-detail .prod .prod-detail .counter-group .minus.disabled, .page-detail .prod .prod-detail .counter-group .plus.disabled {
      color: #9d9c98; }
  .page-detail .prod .prod-detail .counter-group .count {
    width: 28px;
    border-top: 1px #9d9c98 solid;
    border-bottom: 1px #9d9c98 solid;
    border-left-width: 0;
    border-right-width: 0;
    border-radius: 0;
    -webkit-appearance: none;
    line-height: normal;
    padding-top: 4px;
    color: #2434e2; }
  .page-detail .prod .prod-detail .shop-btn {
    padding: 0;
    margin: 0;
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    font-size: 18px;
    line-height: 34px;
    border: 3px #2434e2 solid;
    text-align: center;
    color: #2434e2;
    margin-top: 25px; }
    .page-detail .prod .prod-detail .shop-btn.btn-buy {
      color: #2434e2;
      border-color: #2434e2; }
    .page-detail .prod .prod-detail .shop-btn.btn-soldout {
      color: #9d9c98;
      border-color: #9d9c98; }
  .page-detail .prod .prod-detail .additional-links {
    width: 100%;
    height: 40px;
    margin-top: 10px; }
    .page-detail .prod .prod-detail .additional-links .shop-car, .page-detail .prod .prod-detail .additional-links .save, .page-detail .prod .prod-detail .additional-links .share {
      display: block;
      box-sizing: border-box;
      width: 100%;
      height: 40px;
      font-size: 18px;
      line-height: 34px;
      border: 3px #9d9c98 solid;
      text-align: center;
      color: #9d9c98;
      text-align: center;
      float: left; }
    .page-detail .prod .prod-detail .additional-links .shop-car {
      width: 45%;
      margin-right: 2.5%; }
      .page-detail .prod .prod-detail .additional-links .shop-car:before {
        content: "";
        width: 19px;
        height: 34px;
        display: inline-block;
        vertical-align: middle;
        background: url(../images/icon_shopcar.png) no-repeat center 6px;
        background-size: 100% 18px;
        margin-right: 5px; }
    .page-detail .prod .prod-detail .additional-links .save {
      width: 25%; }
      .page-detail .prod .prod-detail .additional-links .save:before {
        content: "";
        width: 19px;
        height: 34px;
        display: inline-block;
        vertical-align: middle;
        background: url(../images/icon_save.png) no-repeat center 6px;
        background-size: 100% 18px;
        margin-right: 5px; }
    .page-detail .prod .prod-detail .additional-links .share {
      width: 25%;
      margin-left: 2.5%; }
      .page-detail .prod .prod-detail .additional-links .share:before {
        content: "";
        width: 20px;
        height: 34px;
        display: inline-block;
        vertical-align: middle;
        background: url(../images/icon_share.png) no-repeat center 6px;
        background-size: 100% 15px;
        margin-right: 5px; }
.page-detail .easyzoom .easyzoom-flyout img {
  width: 200%; }
.page-detail .prod-descri .sec {
  padding-top: 65px;
  padding-bottom: 65px;
  border-top: #2434e2 1px solid; }
.page-detail .prod-descri ul {
  padding-left: 40px; }
  .page-detail .prod-descri ul li {
    font-size: 1rem;
    line-height: 1rem;
    height: 1rem;
    color: #2434e2;
    text-align: left;
    margin-bottom: 0.9375rem;
    display: block; }
    .page-detail .prod-descri ul li span {
      display: inline-block; }
.page-detail .prod-descri .col-rt li:before {
  content: "";
  width: 13px;
  height: 1rem;
  margin-right: 0.625rem;
  background: url(../images/icon_tip_arrow.png) no-repeat center center;
  background-size: 100% 9px;
  display: inline-block; }
.page-detail .prod-style .sec {
  padding-top: 90px;
  padding-bottom: 90px;
  border-top: #2434e2 1px solid; }
.page-detail .prod-style .title {
  position: relative;
  font-size: 1.125rem;
  color: #2434e2;
  margin-bottom: 20px; }
.page-detail .prod-style .txt {
  font-size: 0.875rem;
  line-height: 28px;
  color: #9d9c98; }
.page-detail .prod-style .part-1 {
  padding-top: 55px; }
.page-detail .prod-style .part-3 {
  padding-top: 55px; }
  .page-detail .prod-style .part-3 .title {
    padding-left: 32px; }
    .page-detail .prod-style .part-3 .title:before {
      content: "";
      width: 22px;
      height: 22px;
      background: url(../images/icon_circle_active.png) no-repeat center center;
      background-size: 100% 100%;
      display: inline-block;
      position: absolute;
      left: 0;
      top: -2px; }
.page-detail .prod-list .sec {
  border-top: 1px #2434e2 solid;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px; }
@media screen and (max-width: 991px) {
  .page-detail .prod .prod-slider {
    padding: 0; }
  .page-detail .prod .prod-detail {
    padding: 0; }
    .page-detail .prod .prod-detail .detail-info {
      padding-top: 0; }
  .page-detail .prod .prod-summary {
    padding: 20px 20px;
    border-top: 1px #9d9c98 solid;
    border-bottom: 1px #9d9c98 solid; }
    .page-detail .prod .prod-summary .name, .page-detail .prod .prod-summary .rate {
      color: #000; }
    .page-detail .prod .prod-summary .descri {
      margin-bottom: 0;
      font-size: 0.9rem; }
  .page-detail .prod .para-selectors {
    padding: 20px; }
  .page-detail .prod-descri .sec {
    padding: 20px; }
  .page-detail .prod-descri ul {
    padding-left: 0; }
  .page-detail .prod-descri .col-lf {
    padding-right: 0; }
    .page-detail .prod-descri .col-lf ul li {
      color: #9d9c98; }
  .page-detail .prod-descri .col-rt {
    padding-left: 0; }
  .page-detail .prod-style .sec {
    padding: 0 20px; }
  .page-detail .prod-style .part-1, .page-detail .prod-style .part-3 {
    padding-top: 0px; }
  .page-detail .prod-list .sec-title {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 20px;
    display: table;
    font-size: 1rem;
    line-height: 1rem;
    color: #2434e2;
    margin-top: -0.5rem;
    background-color: #fffef8; } }

/*# sourceMappingURL=detail.css.map */
