/*
Error: Invalid CSS after "				font-size: ": expected expression (e.g. 1px, bold), was ";"
        on line 302 of scss/pages/index.scss

297: 	}
298: 	.rec-prod {
299: 		position: relative;
300: 		.rec-txt {
301: 			h6{
302: 				font-size: ;
303: 				color: $baseBlue;
304: 				text-align: center;
305: 
306: 			}
307: 			p {

Backtrace:
scss/pages/index.scss:302
/Users/apple/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/scss/parser.rb:1189:in `expected'
/Users/apple/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/script/lexer.rb:229:in `expected!'
/Users/apple/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/script/parser.rb:704:in `assert_expr'
/Users/apple/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/script/parser.rb:75:in `parse'
/Users/apple/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/scss/parser.rb:1051:in `sass_script'
/Users/apple/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/scss/parser.rb:897:in `value!'
/Users/apple/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/scss/parser.rb:769:in `block in try_declaration'
/Users/apple/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/scss/parser.rb:1165:in `call'
/Users/apple/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/scss/parser.rb:1165:in `rethrow'
/Users/apple/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/scss/parser.rb:782:in `try_declaration'
/Users/apple/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/scss/parser.rb:711:in `declaration_or_ruleset'
/Users/apple/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/scss/parser.rb:676:in `block_child'
/Users/apple/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/scss/parser.rb:665:in `block_contents'
/Users/apple/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/scss/parser.rb:657:in `block'
/Users/apple/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/scss/parser.rb:726:in `declaration_or_ruleset'
/Users/apple/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/scss/parser.rb:676:in `block_child'
/Users/apple/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/scss/parser.rb:665:in `block_contents'
/Users/apple/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/scss/parser.rb:657:in `block'
/Users/apple/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/scss/parser.rb:726:in `declaration_or_ruleset'
/Users/apple/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/scss/parser.rb:676:in `block_child'
/Users/apple/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/scss/parser.rb:668:in `block_contents'
/Users/apple/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/scss/parser.rb:657:in `block'
/Users/apple/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/scss/parser.rb:726:in `declaration_or_ruleset'
/Users/apple/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/scss/parser.rb:676:in `block_child'
/Users/apple/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/scss/parser.rb:668:in `block_contents'
/Users/apple/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/scss/parser.rb:657:in `block'
/Users/apple/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/scss/parser.rb:649:in `ruleset'
/Users/apple/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/scss/parser.rb:675:in `block_child'
/Users/apple/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/scss/parser.rb:668:in `block_contents'
/Users/apple/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/scss/parser.rb:125:in `stylesheet'
/Users/apple/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/scss/parser.rb:41:in `parse'
/Users/apple/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/engine.rb:406:in `_to_tree'
/Users/apple/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/Users/apple/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/engine.rb:298:in `render_with_sourcemap'
/Users/apple/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/apple/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/apple/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `each'
/Users/apple/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/apple/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:473:in `on_file_changed'
/Users/apple/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:331:in `block in watch'
/Users/apple/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/vendor/listen/lib/listen/listener.rb:252:in `call'
/Users/apple/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Users/apple/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Users/apple/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/vendor/listen/lib/listen/adapter.rb:254:in `call'
/Users/apple/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/Users/apple/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/Users/apple/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"				font-size: \": expected expression (e.g. 1px, bold), was \";\"\A         on line 302 of scss/pages/index.scss\A \A 297: 	}\A 298: 	.rec-prod {\A 299: 		position: relative;\A 300: 		.rec-txt {\A 301: 			h6{\A 302: 				font-size: ;\A 303: 				color: $baseBlue;\A 304: 				text-align: center;\A 305: \A 306: 			}\A 307: 			p {"; }
