.topic-article {
  margin-top: 50px; }
  .topic-article .page-navigator .latest-new, .topic-article .page-navigator .latest-hot {
    font-size: 1rem;
    line-height: 1.125rem;
    color: #9d9c98;
    margin-bottom: 15px;
    position: relative; }
    .topic-article .page-navigator .latest-new.active, .topic-article .page-navigator .latest-hot.active {
      color: #2434e2; }
      .topic-article .page-navigator .latest-new.active:before, .topic-article .page-navigator .latest-hot.active:before {
        content: "";
        width: 8px;
        height: 8px;
        display: inline-block;
        position: absolute;
        left: -14px;
        top: 5px;
        box-sizing: border-box;
        border-top: 1px #2434e2 solid;
        border-right: 1px #2434e2 solid;
        border-left: 1px transparent solid;
        border-bottom: 1px transparent solid;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg); }
  .topic-article .page-navigator.desktop {
    padding-left: 4.375rem; }
    .topic-article .page-navigator.desktop .page-before, .topic-article .page-navigator.desktop .page-next {
      font-size: 12px;
      color: #2434e2;
      line-height: 24px;
      box-sizing: border-box;
      width: 80px;
      border: 1px #2434e2 solid;
      text-align: center;
      border-radius: 12px; }
    .topic-article .page-navigator.desktop .page-before {
      margin-bottom: 10px; }
      .topic-article .page-navigator.desktop .page-before:before {
        content: "";
        width: 8px;
        height: 8px;
        display: inline-block;
        box-sizing: border-box;
        border-left: 1px #2434e2 solid;
        border-top: 1px #2434e2 solid;
        border-right: 1px transparent solid;
        border-bottom: 1px transparent solid;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg); }
    .topic-article .page-navigator.desktop .page-next:after {
      content: "";
      width: 8px;
      height: 8px;
      display: inline-block;
      box-sizing: border-box;
      border-top: 1px #2434e2 solid;
      border-right: 1px #2434e2 solid;
      border-left: 1px transparent solid;
      border-bottom: 1px transparent solid;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
  .topic-article .page-navigator.mobile {
    text-align: center; }
    .topic-article .page-navigator.mobile .latest-new, .topic-article .page-navigator.mobile .latest-hot {
      display: inline-block; }
      .topic-article .page-navigator.mobile .latest-new.active:before, .topic-article .page-navigator.mobile .latest-hot.active:before {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg); }
    .topic-article .page-navigator.mobile .latest-new {
      margin-right: 15px; }
  .topic-article .topic-item .topic-img {
    width: 100%;
    display: block; }
  .topic-article .topic-item .title {
    font-size: 1.875rem;
    color: #000;
    margin-top: 15px;
    margin-bottom: 0; }
  .topic-article .topic-item .sub-title {
    font-size: 1rem;
    color: #9d9c98;
    margin-top: 15px;
    margin-bottom: 30px; }
    .topic-article .topic-item .sub-title i {
      font-style: normal; }
    .topic-article .topic-item .sub-title .author {
      margin-left: 20px; }
  .topic-article .topic-item .title-box {
    text-align: left; }
  @media screen and (max-width: 991px) {
    .topic-article {
      margin-top: 0; } }

/*# sourceMappingURL=topicIndex.css.map */
