.font-family1 {
	font-family: 'MetaSerifCompPro-Book W01 Rg'
}
.font-family2 {
	font-family: 'Meta Serif Offc W01 Medium'
}
.font-family3 {
	font-family: 'Meta Serif Offc W01 Bold'
}
.font-family4 {
	font-family: 'Univers Next W01 Bold'
}
.font-family5 {
	font-family: 'UniversNW01-420CdRegula'
}
.font-family6 {
	font-family: 'Univers LT W01_67 Bold_1476016'
}
.typo1 {
	font-family: 'MetaSerifCompPro-Book W01 Rg';
	font-size: 30px;
	font-weight: normal !important
}
.typo2 {
	font-family: 'MetaSerifCompPro-Book W01 Rg';
	font-size: 22px;
	font-weight: normal !important
}
.typo3 {
	font-family: 'MetaSerifCompPro-Book W01 Rg';
	font-size: 16px;
	font-weight: normal !important
}
.typo4 {
	font-family: 'MetaSerifCompPro-Book W01 Rg';
	font-size: 14px;
	font-weight: normal !important
}
.typo5 {
	font-family: 'MetaSerifCompPro-Book W01 Rg';
	font-size: 15px;
	font-weight: normal !important
}
.typo6 {
	font-family: 'MetaSerifCompPro-Book W01 Rg';
	font-size: 18px;
	font-weight: normal !important;
	display: inline-block
}
.typo7 {
	font-family: 'Meta Serif Offc W01 Bold';
	font-size: 16px;
	font-weight: normal !important
}
.typo8 {
	font-family: 'Meta Serif Offc W01 Bold';
	font-size: 12px;
	font-weight: normal !important
}
.typo8b {
	font-family: 'Meta Serif Offc W01 Bold';
	font-size: 13px;
	font-weight: normal !important
}
.typo9 {
	font-family: 'UniversNW01-420CdRegula';
	font-size: 13px;
	font-weight: normal !important
}
.typo10 {
	font-family: 'UniversNW01-420CdRegula';
	font-size: 11px;
	font-weight: normal !important;
	letter-spacing: .05em
}
.typo11 {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	//font-size: 12px;
	font-size: 13px;
	font-weight: normal !important;
	line-height: 14px
}
.typo12 {
	font-family: 'Meta Serif Offc W01 Bold';
	font-size: 18px;
	font-weight: normal !important
}
.typo13 {
	font-family: 'Meta Serif Offc W01 Bold';
	font-size: 22px;
	font-weight: normal !important
}
.typo14 {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: normal !important;
	line-height: 14px
}
.typo15 {
	font-family: 'UniversNW01-420CdRegula';
	font-size: 15px;
	font-weight: bold !important
}
.typo16 {
	font-family: 'Meta Serif Offc W01 Bold';
	font-size: 15px;
	font-weight: normal !important
}
.typo17 {
	font-family: 'UniversNW01-420CdRegula' !important;
	font-size: 18px;
	font-weight: normal !important
}
.typo18 {
	font-family: 'MetaSerifCompPro-Book W01 Rg';
	font-size: 15px;
	font-weight: normal !important
}
.typo19 {
	font-family: 'MetaSerifCompPro-Book W01 Rg';
	font-size: 13px;
	font-weight: normal !important
}
.typo20 {
	font-family: 'MetaSerifCompPro-Book W01 Rg';
	font-size: 21px;
	line-height: 27px;
	font-weight: normal !important
}
.typo21 {
	font-family: 'UniversNW01-420CdRegula';
	font-size: 13px;
	font-weight: normal !important
}
.typo22 {
	font-family: 'Meta Serif Offc W01 Medium';
	font-size: 14px;
	font-weight: normal !important
}
.typo23 {
	font-family: 'UniversNW01-420CdRegula';
	font-size: 14px;
	font-weight: normal !important
}
.typo24 {
	font-family: 'Meta Serif Offc W01 Medium';
	font-size: 19px;
	font-weight: normal !important
}
.typo25 {
	font-family: 'Meta Serif Offc W01 Bold';
	font-size: 16px;
	font-weight: normal !important
}
.typo26 {
	font-family: 'Meta Serif Offc W01 Bold';
	font-size: 19px;
	font-weight: normal !important
}