@import '../core/reset.scss';
@import '../core/variable.scss';
@media (min-width: $screen-md-min) {
	html, body {
		font-size: 16px;
		background-color: $baseBg;
	}
}
@media (min-width: $screen-sm-min) {
	html, body {
		font-size: 14px;
	}
}
@media (max-width: $screen-xs-max) {
	html, body {
		font-size: 12px;
	}
}
.page {
	width: 100%;
	height: auto;
	overflow: hidden;
	.editorial-max-width {
		max-width: 1300px !important;
		margin-right: auto !important;
		margin-left: auto !important
	}
	img {
		width: 100%;
		display: block;
		height: auto;
	}
}
.hide {
	display: none !important
}
.show {
	display: block !important
}
.back-top {
	width: 36px;
	height: 34px;
	background: url(../images/icon_backtop.png) no-repeat center center;
	background-size: 100% 100%;
	position: fixed;
	bottom: 50px;
	right: 35px;
}