@import '../core/reset.scss';
@import '../core/variable.scss';
@media (min-width: $screen-md-min) {
	html, body {
		font-size: 16px;
		background-color: $baseBg;
	}
}
@media (min-width: $screen-sm-min) {
	html, body {
		font-size: 14px;
	}
}
@media (max-width: $screen-xs-max) {
	html, body {
		font-size: 12px;
	}
}
.page {
	width: 100%;
	height: auto;
	overflow: hidden;
	.editorial-max-width {
		max-width: 1300px !important;
		margin-right: auto !important;
		margin-left: auto !important
	}
	img {
		width: 100%;
		display: block;
		height: auto;
	}
	a {
		&:hover {
			cursor: pointer;
		}
	}
}
.hide {
	display: none !important
}
.show {
	display: block !important
}
