@import 'common/util.scss';
.page-custom-made {

}
.custom-made {
	.custom-tabs {
		margin: 40px 0;
		ul {
			display: flex;
			width: 100%;
			flex-flow: row no-wrap;
			justify-content: center;
		}
		
		.tab {
			text-align: center;
			padding: 0 30px;
			position: relative;
			flex: 1 1 380px;
			span {
				font-size: 20px;
				line-height: 46px;
				color: $fontGrey;
				display: inline-block;
			}
			&:after {
				content: "";
				width: 12px;
				height: 12px;
				display: block;
				position: absolute;
				right: 0;
				top: 50%;
				border-top: 1px $grey solid;
				border-right: 1px $grey solid;
				-webkit-transform: translate3d(0, -50%, 0) rotate(45deg);
				-moz-transform: translate3d(0, -50%, 0) rotate(45deg);
				-o-transform: translate3d(0, -50%, 0) rotate(45deg);
				transform: translate3d(0, -50%, 0) rotate(45deg);
			}
			&.tab-prev {
				text-align: right;
			}
			&.tab-next {
				text-align: left;
				&:after {
					display: none;
				}
			}
			&.active {
				span {
					color: $black;
					border-bottom: 1px $black solid;
				}
				&:after {
					border-color: $black;
				}
			}
			
		}
	}
	.custom-content {

	}
	.panel {

	}
	.panel-wearing {
		.row {
			width: 100%;
			padding: 0;
			margin: 0;
			display: flex;
			display: -webkit-flex;
			flex-direction: row;
			flex-wrap: no-wrap;
			justify-content: space-between;

		}
		.img-box {
			width: 100%;
			height: 330px;
			background-color: #ccc;
			border: 1px $grey solid;
			img {
				width: 100%;
				height: auto;
				display: block;
			}
		}
		.txt {
			width: 100%;
			text-align: center;
			font-size: 18px;
			color: $black;
			padding: 13px 0;
		}
		.col {
			flex: 0 1 220px;
			margin: 0 25px;
			&.selected {
				.img-box {
					border-color: $baseBlue;
				}
			}
			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
		}
		
	}
	.panel-color {

		.row {
			padding: 0;
			margin: 0 auto;
			width: 558px;
			height: 350px;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: space-between;
			&:before, &:after {
				display: none;
			}

		}
		.color-item {
			width: 116px;
			height: 156px;
			box-sizing: border-box;
			padding: 2px;
			.wrap {
				border: 1px $grey solid;
			}
			
			.color {
				width: 110px;
				height:110px;
				background-color: $baseBg;
					// heise black
					&.black {
							background-color: #000;
					}
					// baise white
					&.white {
							background-color: #fff;
					}
					// hongse red
					&.grey {
							background-color: $grey;
					}
					// chengse orange
					&.orange  {
							background-color: #FFA500;
					}
					// huangse yellow
					&.yellow {
							background-color: #FFFF00;
					}
					// lvse green
					&.green {
							background-color: #00FF00;
					}
					// qingse cyan
					&.cyan {
							background-color: #00FFFF;
					}
					// lanse blue
					&.blue {
							background-color: #1E90FF;
					}
					// zise purple
					&.purple {
							background-color: #8B00FF;
					}
					//kafei brown
					&.brown {
							background-color: #4D3900;
					}
					// huise grey
					&.gray {
							background-color: #808080;
					}
					
			}
			.color-name {
				border-top: 1px $grey solid;
				font-size: 16px;
				color: $black;
				text-align: center;
				width: 100%;
				line-height: 40px;
				margin: 0;
				span {
					font-size: 12px;
					color: $grey;
				}
			}
		}
	}
	.panel-price {
		.row {
			padding: 0;
			margin: 0;
			display: flex;
			flex-direction: row;
			justify-content: center;

		}
		.price-item {
			flex: 0 1 190px;
			margin: 0 20px;
			padding: 15px;
			.price-level {
				text-align: center;
				font-size: 20px;
				line-height: 50px; 
				color: $fontColor;
				border-bottom: 3px $baseBlue solid;
			}
			.price-descri {
				text-align: center;
				padding: 10px 0;
				font-size: 12px;
				line-height: 30px;
				border-bottom: 3px $baseBlue solid;
			}
			.price-range {
				font-size: 20px;
				line-height: 24px;
				color: $fontColor;
				text-align: center;
			}
		}
	}
	.panel-fabric {
		.tab {
			width: 560px;
			padding: 0;
			margin: 0 auto;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
		.tab-navs {
			width: 236px;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			align-content: space-between;
			.fabric-item {
				flex: 0 1 110px;
				border: 1px $grey solid;
				.fabric {
					width: 110px;
					height:110px;
					background-color: $grey;
						// heise black
						&.black {
								background-color: #000;
						}
						// baise white
						&.white {
								background-color: #fff;
						}
						// hongse red
						&.red {
								background-color: #ff0000;
						}
						// chengse orange
						&.orange  {
								background-color: #FFA500;
						}
						// huangse yellow
						&.yellow {
								background-color: #FFFF00;
						}
						// lvse green
						&.green {
								background-color: #00FF00;
						}
						// qingse cyan
						&.cyan {
								background-color: #00FFFF;
						}
						// lanse blue
						&.blue {
								background-color: #1E90FF;
						}
						// zise purple
						&.purple {
								background-color: #8B00FF;
						}
						//kafei brown
						&.brown {
								background-color: #4D3900;
						}
						// huise grey
						&.gray {
								background-color: #808080;
						}
						
				}
				.fabric-name {
					border-top: 1px $grey solid;
					font-size: 16px;
					color: $black;
					text-align: center;
					width: 100%;
					line-height: 40px;
					margin: 0;
				}
				&.selected {
					border-color: $baseBlue;
				}
			}

		}
	}
	.tab-content {
		width: 307px;
		height: 320px;
		background-color: $grey;
	}
	.custom-nav {
		text-align: center;
		margin-top: 70px;
		.btn {
			display: inline-block;;
			padding: 12px 30px;
			font-size: 18px;
			line-height: 1;
			color: $fontGrey;
			text-align: center;
			border-radius: 24px;
			border:  1px $grey solid;
			&.active {
				border-color: $baseBlue;
			}
			&.prev-btn {
				margin-right: 24px;
			}
		}
	}
	.rec-txt {
		color: $fontColor;
		line-height: 1;
		font-size: 12px;
		text-align: center;
		padding: 20px 0;
	}
}