@charset 'utf-8';
@import 'common/util.scss';
.page-detail {
	a {
		text-decoration: none;
		&.hover, &.active {
			text-decoration: none;
		}
	}
	.share-save-xs {
		.top-bar {
			width: 100%;
			height: auto;
			height: 26px;
			position: relative;
			.title {
				font-size: 1rem;
				color: $fontColor;
				text-align: center;
				position: relative;
				width: 100%;
				line-height: 26px;
				
			}
			.share-save-box {
				position: absolute;
				right: 20px;
				top: 0;
				width: 60px;
				box-sizing: border-box;
				padding-top: 6px;
				.save-xs, .share-xs {
					float: right;
					display: block;
				}
				.share-xs {
					width: 20px;
					height: 15px;
					background: url(../images/icon_share.png) no-repeat center center;
					background-size: 20px 15px;
				} 
				.save-xs {
					width: 20px;
					height: 15px;
					background: url(../images/icon_save.png) no-repeat center center;
					background-size: 20px 15px;
					margin-right: 6px;
				}
			} 
			.back-box {
				position: absolute;
				left: 20px;
				top: 0;
				width: 20px;
				box-sizing: border-box;
				padding-top: 8px;
				.back {
					display: block;;
					width: 10px;
					height: 10px;
					background: url(../images/arrow_lf_m.png) no-repeat center center;
					background-size: 10px 10px;
				}
			}
		}
	}
	.shopcar-xs {
		width: 100%;
		height: 40px;
		box-sizing: border-box;
		border-top: 1px $grey solid;
		border-bottom: 1px $grey solid;
		position: fixed;
		left: 0;
		bottom: 0;
		background-color: $white;
		z-index: 500;
		.price {
			font-size: 12px;
			color: $black;
			line-height: 38px;
			margin-left: 20px;
			float: left;
		}
		.add-shopcar {
			width: 86px;
			height: 24px;
			box-sizing: border-box;
			border: 1px $grey solid;
			line-height: 22px;
			color: $fontGrey;
			font-size: 1rem;
			float: right;
			margin-right: 20px;
			margin-top: 7px;
			text-align: center;
		}
	}
	.prod {
		width: 100%;
		.prod-slider {
			padding: 20px 70px;
		}
		.prod-detail {
			.detail-info {
				padding-top: 100px;
			}
			.name {
				font-size: 24px/$ppr;
				line-height: 1;
				color: $fontColor;
				margin-bottom: 20px/$ppr;
				margin-top: 0;
			}
			.rate {
				font-size: 20px/$ppr;
				line-height: 1;
				color: $fontColor;
				margin-bottom: 20px/$ppr;
			}
			.descri {
				font-size: 18px/$ppr;;
				color: $fontGrey;
				line-height: 28px/$ppr;
				margin-bottom: 50px/$ppr;
			}
			.selector {
				margin-bottom: 8px;
			}
			.s-item {
				margin: 0;
				padding: 0;
				dt {
					float: left;
					font-size: 1rem;
					line-height: 20px;
					height: 20px;
					color: $fontGrey;
					margin-right: 20px;
					font-weight: normal;
				}
				dd {
					float: left;
					height: 20px;
					ul {
						li {
							float: left;
							margin-right: 10px;
							a {
								text-decoration: none;
								&:hover, &:active {
									text-decoration: none;
								}
							}
						}
					}
				}
			}
			
			.color-select {
				.color-item {
					display: block;
					width: 20px;
					height: 20px;
					box-sizing: border-box;
					border: 1px #ccc solid;	
					padding: 2px;
					span {
						display: block;
						width: 14px;
						height: 14px;
						background-color: #fff;
						text-indent: -9999px;
					}
					// heise black
					&.black {
						span {
							background-color: #000;
						}
					}
					// baise white
					&.white {
						span {
							background-color: #fff;
						}
					}
					// hongse red
					&.red {
						span {
							background-color: #ff0000;
						}
					}
					// chengse orange
					&.orange  {
						span {
							background-color: #FFA500;
						}
					}
					// huangse yellow
					&.yellow {
						span {
							background-color: #FFFF00;
						}
					}
					// lvse green
					&.green {
						span {
							background-color: #00FF00;
						}
					}
					// qingse cyan
					&.cyan {
						span {
							background-color: #00FFFF;
						}
					}
					// lanse blue
					&.blue {
						span {
							background-color: #1E90FF;
						}
					}
					// zise purple
					&.purple {
						span {
							background-color: #8B00FF;
						}
					}
					//kafei brown
					&.brown {
						span {
							background-color: #4D3900;
						}
					}
					// huise grey
					&.gray {
						span {
							background-color: #808080;
						}
					}
					&.selected {
						border-color: $baseBlue;
					}
				}
			}
			.size-select {
				.size-item {
					width: 20px;
					height: 20px;
					font-size: 12px;
					line-height: 20px;
					text-align: center;
					color: $fontGrey;
					&.selected {
						color: $baseBlue;
					}
				}
			}
			.counter-group {
				.minus, .count, .plus {
					box-sizing: border-box;
					width: 20px;
					height: 20px;
					line-height: 18px;
					font-size: 10px;
					float: left;
					text-align: center;
					color: $fontGrey;
				}
				.minus, .plus {
					color: $fontGrey;
					border: 1px $grey solid;
					&.active {
						color: $fontColor;
					}
					&.disabled {
						color: $fontGrey;
					}
				}
				.count {
					width: 28px;
					border-top: 1px $grey solid;
					border-bottom: 1px $grey solid;
					border-left-width: 0;
					border-right-width: 0;
					border-radius: 0;
					-webkit-appearance: none;
					line-height: normal;
					padding-top: 4px;
					color: $fontColor;
				}
			}
			.shop-btn {
				padding: 0;
				margin: 0;
				display: block;
				box-sizing: border-box;
				width: 100%;
				height: 40px;
				font-size: 18px;
				line-height: 34px;
				border: 3px $baseBlue solid;
				text-align: center;
				color: $fontColor;
				margin-top: 25px;
				&.btn-buy {
					color: $fontColor;
					border-color: $baseBlue;
				}
				&.btn-soldout {
					color: $fontGrey;
					border-color: $grey;
				}
			}
			.additional-links {
				width: 100%;
				height: 40px;
				margin-top: 10px;
				.shop-car, .save, .share {
					display: block;
					box-sizing: border-box;
					width: 100%;
					height: 40px;
					font-size: 18px;
					line-height: 34px;
					border: 3px $grey solid;
					text-align: center;
					color: $fontGrey;
					text-align: center;
					float: left;
				}
				.shop-car {
					width: 45%;
					&:before {
						content: "";
						width: 19px;
						height: 34px ;
						display: inline-block;
						vertical-align: middle;
						background: url(../images/icon_shopcar.png) no-repeat center 6px;
						background-size: 100% 18px; 
						margin-right: 5px;
					}
					margin-right: 2.5%;
				}
				.save {
					width: 25%;
					&:before {
						content: "";
						width: 19px;
						height: 34px ;
						display: inline-block;
						vertical-align: middle;
						background: url(../images/icon_save.png) no-repeat center 6px;
						background-size: 100% 18px;
						margin-right: 5px;
					}
				}
				.share {
					width: 25%;
					margin-left: 2.5%;
					&:before {
						content: "";
						width: 20px;
						height: 34px ;
						display: inline-block;
						vertical-align: middle;
						background: url(../images/icon_share.png) no-repeat center 6px;
						background-size: 100% 15px; 
						margin-right: 5px;
					}
				}
			}
		}
	}
	.easyzoom {
		.easyzoom-flyout {
			img {
				width: 200%;
			}
		}	
	}
	.prod-descri {
		.row {
			
		}
		.sec {
			padding-top: 65px;
    		padding-bottom: 65px;
			border-top: $baseBlue 1px solid;
		}
		ul {
			padding-left: 40px;
			
			li {
				font-size: 1rem;
				line-height: 1rem;
				height: 1rem;
				color: $fontColor;
				text-align: left;
				margin-bottom: 15px/$ppr;
				display: block;
				span {
					display: inline-block;
				}
			}		
		}
		.col-rt {
			li {
				&:before {
					content: "";
					width: 13px;
					height: 1rem;
					margin-right: 10px/$ppr;
					background: url(../images/icon_tip_arrow.png) no-repeat center center;
					background-size: 100% 9px;
					display: inline-block;
				}
			}
		}
	}
	.prod-style {
		.sec {
			padding-top: 90px;
			padding-bottom: 90px;
			border-top: $baseBlue 1px solid;
		}
		.title {
			position: relative;
			font-size: 18px/$ppr;
			color: $fontColor;
			margin-bottom: 20px;
		}
		.txt {
			font-size: 14px/$ppr;
			line-height: 28px;
			color: $fontGrey;
		}
		.part-1 {	
			padding-top: 55px;
		}
		.part-2 {

		}
		.part-3 {
			padding-top: 55px;
			.title {
				padding-left: 32px;
				&:before {
					content: "";
					width: 22px;
					height: 22px;
					background: url(../images/icon_circle_active.png) no-repeat center center;
					background-size: 100% 100%;
					display: inline-block;
					position: absolute;
					left: 0;
					top: -2px;
				}
			}
		}
		
	}
	.prod-list {
		.sec {
			border-top: 1px $baseBlue solid;
			position: relative;
			padding-top: 20px;
			padding-bottom: 20px;
		}
	}
	@media screen and (max-width: $screen-sm-max) {
		.prod {
			.prod-slider, {
				padding: 0;
			}
			.prod-detail {
				padding: 0;
				.detail-info {
					padding-top: 0;
				}
			}
			.prod-summary {
				padding: 20px 20px;
				border-top: 1px $grey solid;
				border-bottom: 1px $grey solid;
				.name, .rate {
					color: $black;
				}
				.descri {
					margin-bottom: 0;
					font-size: 0.9rem;
				}
			}
			.para-selectors {
				padding: 20px;
			}
		}
		.prod-descri {
			.sec {
				padding: 20px;
			}
			ul {
				padding-left: 0;
			}
			.col-lf {
				padding-right: 0;
				ul {
					li {
						color: $fontGrey;
					}
				}
			}
			.col-rt {
				padding-left: 0;
			}
		}
		.prod-style {
			.sec{
				padding: 0 20px;
			}
			.part-1, .part-3{
				padding-top: 0px;
			}
		}
		.prod-list {
			.sec-title {
				position: absolute;
				left: 0;
				top: 0;
				padding: 0 20px;
				display: table;
				font-size: 1rem;
				line-height: 1rem;
				color: $fontColor;
				margin-top: -0.5rem;
				background-color: $baseBg;
			}
		}
	}
}