@import '../../core/index.scss';

@media (min-width: $screen-md-min) {
	html, body {
		font-size: 16px;
		background-color: $baseBg;
	}
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
	html, body {
		font-size: 14px;
	}
	.section {
		padding: 0 !important;
    	border-top: 0 !important;
	}
}
@media (max-width: $screen-xs-max) {
	html, body {
		font-size: 12px;
	}
	.section {
		padding: 0 !important;
    	border-top: 0 !important;
    }
}
.page {
	width: 100%;
	height: auto;
	overflow: hidden;
	.editorial-max-width {
		max-width: 1300px !important;
		margin-right: auto !important;
		margin-left: auto !important
	}
	img {
		width: 100%;
		display: block;
		height: auto;
	}
	a {
		&:hover {
			cursor: pointer;
		}
	}
	.brand {
		width: 100%;
		height: 110px;
		box-sizing: border-box;
		padding-top: 25px;
		.top-logo{
			display: table;
			margin: 0 auto;
			img{
				height: 67px;
			}
		}
	}
	.sub-menu-sm-xs {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		max-width: 0;
		overflow: auto;
		height: 100%;
		background-color: $baseBg;
		z-index: 100;
		-webkit-transition: all .6s ease;
		-moz-transition: all .6s ease;
		-o-transition: all, 0.6s ease;
		transition: all .6s ease;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		.close {
			position: fixed;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
			display: block;
			display: none;
		}
		.submenus {
			margin: 0;
			padding: 0;
			list-style: none;
			display: block;
			border-top: solid 1px $baseBlue;
			border-bottom: solid 1px $baseBlue;
			.submenu-item  {
				border-top: solid 1px $baseBlue;
				border-bottom: solid 1px $baseBlue;
				padding: 10px;
				a {
					text-transform: uppercase;
					text-decoration: none;
					display: block;
					color:$fontColor;
					font-size: 12px;
					line-height: 20px;
					font-family: 'Meta Serif Offc W01 Bold';
					position: relative;
					background-repeat: no-repeat;
					background-position: center right;
					font-weight: bolder;
					&.plus {
						background-image: url(../images/icon_plus_xs.png);
						background-size: 10px 10px;
						&.opened {
							background-image: url(../images/icon_minus_xs.png);
							background-size: 10px 2px;
							
						}
					}
					
				}

				ul:not(.countryul) {
					display: none;
					border-bottom: 0;
					li {
						margin: 0 -20px;
						padding: 0 20px 0 20px;
						border-top: 0;
						a {
							padding: 10px 0 10px 0;
							border-top: 0;
							color: #656463;
							font-family: 'UniversNW01-420CdRegula';
							background: 0;
							font-size: 10px;
							text-transform: uppercase;
							color: $fontColor;
							text-decoration: none;
							font-weight: normal;
							img {
								display: block;
								width: 100%;
							}
						}
					}
				}
				&.item-wechat-share {
					padding: 3;
					.wechat-share {
						height: 34px;
						box-sizing: border-box;
						border: 2px $baseBlue  solid;
						span {
							display: inline-block;
							float: left;

							&.s-1 {
								line-height: 30px;
								font-size: 12px;
								height: 30px;
								padding-left: 18px;
							}
							&.s-2 {
								width: 24px;
								height: 30px;
								background: url(../images/icon_wechat_xs.png) no-repeat center center;
								background-size: 24px 20px;
								margin-left: 12px;
							}
							&.s-3 {
								width: 24px;
								height:30px;
								background: url(../images/icon_redbag_xs.png) no-repeat center center;
								background-size: 24px 18px;
								margin-left: 5px;
							}
							&.s-4 {
								width: 24px;
								height:30px;
								background: url(../images/icon_redbag_xs.png) no-repeat center center;
								background-size: 12px 12px;
								float: right;
							}
						}
					}
				}
			}
		}
		&.opened {
			max-width: 75%;
			border-right: $baseBlue 4px solid;
			.close {
				display: block;
			}
		}
	}

	.search-sm-xs {
		width: 100%;
		overflow: auto;
		.textbox {

			border: 1px solid #e1e1e1;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			width: 100%;
			height: 35px;
			min-height: 35px;
			font-family: 'MetaSerifCompPro-Book W01 Rg';
			font-size: 15px;
			padding: 5px 10px 5px 10px;
			line-height: 21px;
			color: #666564;
			display: block;
			outline: 0;
			border-radius: 0;
			&.search {
				border-color: $baseBlue;
				border-top: transparent;
				border-left: transparent;
				border-right: transparent;
				padding-left: 40px;
				font-family: "MetaSerifCompPro-Book W01 Rg";
				color: #333;
				font-size: 12px;
				padding-bottom: 4px;
				box-sizing: border-box;
			}
		
		}
		input::-ms-clear {
			display: none !important;
		}
		input.textbox {
			height: 35px;
		}
		.search-wrap {
			padding-left: 30px;
			padding-right: 30px;
		}
		.textbox-search {
			height: 35px !important;
			line-height: 35px !important;
			position: relative;
			a {
				width: 35px;
				height: 33px;
				background-color: $baseBg;
				position: absolute;
				left: 0;
				top: 0;
				box-sizing: border-box;
				padding: 10px 0 10px 12px;
				img {
					display: block;
					width: 12px;
					height: 12px;
				}
			}
			
		}
	}
	.main-menu{
		display: block;
		box-sizing: border-box;
		width: 100%;
		.menu-box {
			border-top: $baseBlue 4px solid;
			padding-top: 4px;
		}
		
		.menu-items {
			position: relative;
			box-sizing: border-box;
			border-top: $baseBlue 2px solid;
			border-bottom: $baseBlue 2px solid;
			height: 40px;
			padding: 0;
			list-style: none;
			display: -moz-box;
			display: -moz-flex;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-flex-direction: row;
			-ms-flex-direction: row;
			flex-direction: row;
			-webkit-flex-wrap: nowrap;
			-ms-flex-wrap: nowrap;
			flex-wrap: nowrap;
			-webkit-box-pack: justify;
			-moz-box-pack: justify;
			-ms-flex-pack: justify;
			-webkit-justify-content: space-between;
			justify-content: space-between;
			-webkit-align-content: stretch;
			-ms-flex-line-pack: stretch;
			align-content: stretch;
			-webkit-align-items: flex-start;
			-ms-flex-align: start;
			align-items: flex-start;
		}
		.menu-item {
			width: 12.5%;
			-webkit-flex: 0 1 auto;
			-ms-flex: 0 1 auto;
			flex: 0 1 auto;
			-webkit-align-self: auto;
			-ms-flex-item-align: auto;
			align-self: auto;
		}
		.title {
			width: 100%;
			display: inline-block;
			line-height: 40px;
			font-family: 'Meta Serif Offc W01 Bold';
			font-size: 18px/$ppr;
			font-weight: normal !important;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
			color: $fontColor;
			&:hover, &.selected {
				color: #68bef9;
			}
		}
		.sub-menu {
			box-sizing: border-box;
			width: 100%;
			height: 0;
			position: absolute;
			left: 0;
			top: 40px;
			background-color: rgba(255, 255, 255, .8);
			z-index: 200;
			background-color: $baseBg;
			-webkit-transition: all .3s ease;
			-moz-transition: all .3s ease;
			-o-transition: all, 0.3s ease;
			transition: all .3s ease;
			overflow: hidden;
			.sub-menu-list {
				padding: 15px 0;
				font-size: 0;
				// display: none;
			}
			.sub-menu-column {
				display: inline-block;
				vertical-align: top;
				border-left: 1px $baseBlue solid;	
				font-size: 0;
				a {
					font-size: 14px;
					color: #7B81D3;
					white-space: normal;
					display: inline-block;
					padding: 0 15px;
					line-height: 1;
					&:hover {
						text-decoration: underline;
						color: #68bef9;
					}
				}
				&:last-child {
					border-right: 1px $baseBlue solid;	
				}
			}
			
			&.open {
				height: 50px;
				// .sub-menu-list {
				// 	display: block;
				// }
			}
	
		}
		
	}
	.main-menu-xs {
		display: block;
		// position: fixed !important;
		// width: 100%;
		// top: 0;
		// left: 0 !important;
		// z-index: 10;
		padding-bottom: 10px;
		.nav-bar {
			width: 100%;
			padding-left: 0;
			padding-right: 0;
			padding-bottom: 3px;
			box-sizing: border-box;
			border-bottom: $baseBlue 2px solid;
		}
		.nav-box {
			box-sizing: border-box;
			width: 100%;
			height: 80px/$ppr;
			padding: 15px/$ppr 0;
			background-color: $bgColor;
			border-bottom: $baseBlue 4px solid;
			a{
				display: block;
				text-decoration: none;
				width: 100%;
				height: 50px/$ppr;
				box-sizing: border-box;
				position: relative;
				text-indent: -9999px;
			}	
			.menu-toggle {
				span{
					display: block;
					width: 25px/$ppr;
					height: 25px/$ppr;
					background: url(../images/icon_menu_toggle.png) no-repeat center center;
					background-size: 100% 100%;
					position: absolute;
					left: 15px/$ppr;
					top: 15px/$ppr;
				}
			}
			.logo-xs {
				background: url(../images/icon_logo.png) no-repeat center center;
				background-size: 100% 100%;
				background-size: 230px/$ppr 50px/$ppr;
			}
			.search-xs {
				span{
					display: block;
					width: 25px/$ppr;
					height: 25px/$ppr;
					background: url(../images/icon_search.png) no-repeat center center;
					background-size: 100% 100%;
					position: absolute;
					right: 15px/$ppr;
					top: 15px/$ppr;
				}
			}

		}
	}
	.sidebar-center {
		.row {
			padding-top: 10px;
			padding-bottom: 5px;
		}
		a {
			&:hover {
				text-decoration: none;
			}
		}
		span{
			display: block;
			padding-top: 25px;
			background-repeat: no-repeat;
			background-position: top center;
			background-size: 25px 25px;
			font-size: 10px;
			line-height: 20px;
			color: $baseBlue;
			text-align: center;
			font-weight: bolder;
			&.service {
				background-image: url(../images/icon_service_xs.png);
			}
			&.book {
				background-image: url(../images/icon_book_xs.png);
			}
			&.shop {
				background-image: url(../images/icon_shop_xs.png);
			}
			&.account {
				background-image: url(../images/icon_account_xs.png);
			}
		}
	}
	.rec-prod-list {
		display: none;
		.section{
			padding: 0;
			border-top: 0;
		}
		.row{
			margin-left: -25px;
			margin-right: -25px;
		}
		.prod-item {
			padding: 25px;
		}
		@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
			.row{
				margin-left: 20;
				margin-right: 20;
			}
			.prod-item {
				padding: 8px;
			}
		}
		@media (max-width: $screen-xs-max) {
			.row{
				margin-left: 20;
				margin-right: 20;
			}
			.prod-item {
				padding: 8px;
			}
		}
		.prod-img {
			cursor: pointer;
		    position: relative;
		    background-color: $baseBg;
	    	.front-img {
	    	    width: 100%;
	    	    height: auto;
		    }
		    .back-img {
	    	    width: 100%;
			    height: 100%;
			    position: absolute;
			    top: 0;
			    left: 0;
			    background-size: contain;
			    opacity: 0;
			    z-index: 2;
			    -webkit-transition: opacity 400ms linear;
			    -moz-transition: opacity 400ms linear;
			    -o-transition: opacity 400ms linear;
			    transition: opacity 400ms linear;
		    }
		    .default-img {
		    	 width: 100%;
	    	     height: auto;
		    }
		    &:hover {
		    	.back-img {
		    		opacity: 1;
		    	}
		    }

		}
		.info {
			.prod-name {
				box-sizing: border-box;
				width: 100%;
				font-size: 14px;
				line-height: 1;
				color: $black;
				padding: 8px 0 4px 0;
				margin: 0;
				@include single-line();
			}
			.prod-descri {
				box-sizing: border-box;
				width: 100%;
				font-size: 10px;
				line-height: 14px;
				color: $fontGrey;
			}
			.prod-price {
				width: 100%;
				height: 28px;
				position: relative;
				span {
					display: inline-block;
					text-decoration: none;
				}
				.price {
					width: 100%;
					height: 100%;
					box-sizing: border-box;
					padding-right: 28px;
					padding-top: 8px;
					font-size: 12px;
					line-height: 20px;
					color: $baseBlue;
					font-weight: bolder;
				}
				.btn_buy {
					width: 20px;
					height: 20px;
					position: absolute;
					top: 6px;
					right: 5px;
					background: url(../images/icon_buy.png) no-repeat center center;
					background-size: 100% 100%;
					text-indent: -9999px;
				}
			}
		}
		.prod-box {
			min-height: 120px;
			&:hover {
				.info {
					opacity: 1;
				}	
			}	
		}

	}
	.footer-menu {
		.footer-box {
			border-top: $baseBlue 4px solid;
			padding-top:4px;
			.wrap {
				border-top: $baseBlue 2px solid;
				border-bottom: $baseBlue 2px solid;
			}
		}
		.row {
			padding: 30px 0;
		}
		.sub-logo {
			width: 100%;
			height: 180px;
			background: url(../images/topLogo.png) no-repeat center center;
			background-size: 240px 40px;
		}
		.sub-menu {
			.tit {
				box-sizing: border-box;
				height: 56px;
				padding-top: 32px;
				font-size: 15px/$ppr;
				color: $fontColor;
				line-height: 24px/$ppr;
				text-align: left;
				position: relative;
				&:before {
					content: '';
					width: 100%;
					height: 32px;
					display: block;
					position: absolute;
					top: 0;
					background-position: 18px center;
					background-repeat: no-repeat;
				}
			}
			.wrap-box {
				margin-top: 20px;
			}
			li {

				&.vip {
					.tit {
						&:before {
							background-image: url(../images/icon_vip.png);
							background-size: 19px 20px;
						}
					}
				}
				&.guide {
					.tit {
						&:before {
							background-image: url(../images/icon_guide.png);
							background-size: 20px 20px;
						}
					}
				}
				&.delivery {
					.tit {
						&:before {
							background-image: url(../images/icon_delivery.png);
							background-size: 18px 19px;
						}
					}
				}
				&.pay {
					.tit {
						&:before {
							background-image: url(../images/icon_pay.png);
							background-size: 20px 22px;
						}
					}
				}
				&.service {
					.tit {
						&:before {
							background-image: url(../images/icon_service.png);
							background-size: 19px 22px;
						}
					}
				}
			}

			a {
				width: 100%;
				display: block;
				font-family: 'Meta Serif Offc W01 Bold';
				font-size: 15px/$ppr;
				text-decoration: none;
				text-transform: uppercase;
				color: $fontColor;
				line-height: 17px/$ppr;
				padding: 0;
				min-height: 28px/$ppr;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		.sub-qrcode {
			.tit {
				box-sizing: border-box;
				height: 56px;	
				padding-top: 32px;
				font-size: 15px/$ppr;
				color: $fontColor;
				line-height: 24px/$ppr;
				text-align: center;
				position: relative;
				&:before {
					content: '';
					width: 100%;
					height: 32px;
					display: block;
					position: absolute;
					top: 0;
					background-position: center center;
					background-repeat: no-repeat;
				}
			}
			.qrcode {
				width: 80px;
				height: 80px;
				background-color: #ccc;
				margin: 0 auto;
				margin-top: 20px;
			}
			li {
				float: left;
				&.online {
					.tit {
						&:before {
							background-image: url(../images/icon_wechat.png);
							background-size: 17px 14px;
						}
					}
				}
				&.wechat {
					.tit {
						&:before {
							background-image: url(../images/icon_wechat.png);
							background-size: 17px 14px;
						}
					}
				}
				&.webo {
					.tit {
						&:before {
							background-image: url(../images/icon_webo.png);
							background-size: 17px 14px;
						}
					}
				}
			}
			
		}
	}
	.footer-menu-mobile {

		.row {
			padding: 10px 0;
		}
		.sub-menu {
			
			.tit {
				display: block;
				height: 24px;
				padding-top: 0;
				font-size: 1.25rem;
				line-height: 1.5;	
				text-align: center;
				&:before {
					display: none;
				}
			}
			.wrap-box {
				text-align: center;
				display: none;
				border-bottom: medium none;
				a{
					font-size: 1.2rem;
					line-height: 1.4;
				}
				&.opened {
					display: block !important	
				}	
			}
		}
		
	}
	
	.bottom {
		.bottom-box {
			padding: 25px 0;
			position: relative;
		}
		.bt-nav {
			padding-bottom: 40px;
			a {
				box-sizing: border-box;
				border-left: $baseBlue 1px solid;
				font-size: 15px/$ppr;
				line-height: 1;
				text-align: center;
				color: $baseBlue;
				&:hover {
					text-decoration: underline;
				}
				&:last-child {
		 			border-right: $baseBlue 1px solid;
				}
			}
			@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
				padding-bottom: 16px;
				
			}
			@media (max-width: $screen-xs-max) {
				padding-bottom: 16px;
			}
		}
		
		.copy {
			font-size: 15px/$ppr;
			line-height: 24px/$ppr;
			text-align: center;
			color: $fontColor;
		}
		.back-top {
			width: 36px;
			height: 34px;
			background: url(../images/icon_backtop.png) no-repeat center center;
			background-size: 100% 100%;
			position: absolute;
			top: 10px;
			right: 5px;
			&:hover {
				cursor: pointer;
			}
		}
	}
}
.ribbon-right {
	width: 40px;
	max-height: none;
	max-width: 40px;
	overflow: hidden;
	position: fixed;
	height: 100%;
	right: 0;
	top: 0;
	z-index: 400;
	background-color: $baseBg;
	-webkit-transition: max-width .6s ease, top .6s ease, width .6s ease;
	-moz-transition: max-width .6s ease, top .6s ease, width .6s ease;
	-o-transition: max-width .6s ease, top .6s ease, width .6s ease;
	transition: max-width .6s ease, top .6s ease, width .6s ease;
	#close-ribbon-right {
		position: absolute;
		z-index: 999;
		top: 40px;
		right: 30px;
		img {
			width: 30px;
			height: auto;
		}
	}
	.sliderWrap {
		margin: 0 auto;
		width: 350px;
		position: absolute;
		left: 40px;
		top: 0;
		height: 100%;
		&.nobg {
			background: 0;
		}
		&.bg2 {
			background: url(images/common/geniousbar-bg2.gif) repeat-x left top;
		}
		.content {
			display: none;
			height: 100%;
			overflow: hidden;
			padding: 0;
		}
	}
	.siderbar-title {
		margin: 0;
		height: 100px;
		line-height: 100px;
		padding-left: 30px;
		padding-right: 30px;
		display: block;
		text-align: left;
		color: $baseBlue;
		a {
			text-decoration: none;
			
		}
		&.noborder {
			border-bottom: 0;
		}
	}

	.sidebar-subtitle {
		line-height: 26px;
		border-bottom: 1px solid #ddd;
		border-top: 1px solid #ddd;
		padding-left: 30px;
		padding-right: 30px;
		&.bordertop {
			border-top: 1px solid #ddd;
		}
	}
	.geniousbarcontent {
		width: 100%;
		overflow: auto;
		height: 100%;
		.wrapper {
			padding-left: 30px;
			padding-right: 30px;
		}
		.textbox {
			&.search {
				border-color: $baseBlue;
				border-top: transparent;
				border-left: transparent;
				border-right: transparent;
				padding-left: 0;
				font-family: "MetaSerifCompPro-Book W01 Rg";
				color: #333;
				font-size: 15px;
				padding-bottom: 4px;
			}
		}
	}
	.sidebar-rt {
		display: block;
		width: 40px;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		border-left: $baseBlue 2px solid;
		border-right: $baseBlue 2px solid;
	}
	.typo2 {
		font-family: 'MetaSerifCompPro-Book W01 Rg';
		font-size: 20px;
		font-weight: normal !important;
	}
	.textbox {
		border: 1px solid #e1e1e1;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		width: 100%;
		height: 35px;
		min-height: 35px;
		font-family: 'MetaSerifCompPro-Book W01 Rg';
		font-size: 15px;
		padding: 5px 10px 5px 10px;
		line-height: 21px;
		color: #666564;
		display: block;
		outline: 0;
	}
	input::-ms-clear {
		display: none !important;
	}
	input.textbox {
		height: 35px;
	}
	.textbox {
		&.inverse {
			.textbox-submit & {
				border-color: #636363 !important;
				background-color: #2f2f2e !important;
			}
		}
		.submit {
			// background: url(images/common/textbox-submit.png) no-repeat right center;
			background-size: 34px 35px;
			padding-right: 40px;
		}
	}
	.textbox-submit {
		line-height: 35px !important;
		height: 35px !important;
		position: relative;
		border: 0;
		padding: 0;
		margin: 0;
		a {
			display: block !important;
			position: absolute !important;
			right: 1px !important;
			top: 1px !important;
			width: 33px !important;
			height: 33px !important;
			// background: url(images/common/textbox-submit.png) no-repeat center center !important;
			background-size: 26px 26px !important;
			text-decoration: none !important;
			background-color: #f3f2f1 !important
		}
		&.inverse  {
			a {
				// background: url(images/common/textbox-submit-inverse.png) no-repeat center center !important;
				background-size: 26px 26px !important;
				background-color: #636363 !important
			}
		}
	}
	.textbox-search {
		height: 35px !important;
		line-height: 35px !important;
		position: relative;
		a {
			width: 35px;
			height: 35px;
			background-color: $baseBg;
			position: absolute;
			right: 0;
			top: 1px;
			box-sizing: border-box;
			padding: 6px 0 6px 12px;
			img {
				display: block;
				width: 22px;
				height: 22px;
			}
		}
		
	}

	.geniousbaricons {
		margin: 0;
		padding: 0;
		list-style-type: none;
		top: 220px;
		left: 1px;
		position: absolute;
		
		li {
			margin: 0;
			padding: 0;
			a {
				width: 40px;
				height: 50px;
				display: block;
				outline: 0;
				position: relative;
				span {
					position: absolute;
					width: 22px;
					height: 23px;
					left: 50%;
					margin-left: -12px;
					top: 50%;
					margin-top: -11px;
					background-repeat: no-repeat;
					background-position: center top;
					background-size: cover;
				}
				&:hover, &.active {
					span {
						background-position: center bottom;
					}
				}
				&.geniousbar-search {
					span {
						background-image: url(../images/icon_search.png);
					}
				}
				&.geniousbar-account {
					span {
						background-image: url(../images/icon_account.png);
					}
				}
				&.geniousbar-shop {
					span {
						background-image: url(../images/icon_shop.png);
					}
				}
				&.geniousbar-book {
					span {
						background-image: url(../images/icon_book.png);
					}
				}
			}
		}
	}
	.content01 {
		padding: 0
	}
	.content03 {
		width: 100%
	}
	
	&.opened {
		max-width: 390px;
		width: 100%
	}
	
}


input::-webkit-input-placeholder {
	color: $baseBlue;
}
input:-moz-placeholder {
	color: $baseBlue;
}
input::-moz-placeholder {
	color: $baseBlue;
}
input:-ms-input-placeholder {
	color: $baseBlue;
}
input:focus::-webkit-input-placeholder {
	opacity: 0
}
input:focus:-moz-placeholder {
	opacity: 0
}
input:focus::-moz-placeholder {
	opacity: 0
}
input:focus:-ms-input-placeholder {
	opacity: 0
}
