@import '../../core/index.scss';

@media (min-width: $screen-md-min) {
	html, body {
		font-size: 16px;
		background-color: $baseBg;
	}
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
	html, body {
		font-size: 14px;
	}
	.section {
		padding: 0 !important;
    	border-top: 0 !important;
	}
}
@media (max-width: $screen-xs-max) {
	html, body {
		font-size: 12px;
	}
	.section {
		padding: 0 !important;
    	border-top: 0 !important;
    }
}
.page {
	width: 100%;
	height: auto;
	overflow: hidden;
	.editorial-max-width {
		max-width: 1300px !important;
		margin-right: auto !important;
		margin-left: auto !important
	}
	img {
		width: 100%;
		display: block;
		height: auto;
	}
	a {
		&:hover {
			cursor: pointer;
		}
	}
}
.hide {
	display: none !important
}
.show {
	display: block !important
}

input::-webkit-input-placeholder {
	color: $baseBlue;
}
input:-moz-placeholder {
	color: $baseBlue;
}
input::-moz-placeholder {
	color: $baseBlue;
}
input:-ms-input-placeholder {
	color: $baseBlue;
}
input:focus::-webkit-input-placeholder {
	opacity: 0
}
input:focus:-moz-placeholder {
	opacity: 0
}
input:focus::-moz-placeholder {
	opacity: 0
}
input:focus:-ms-input-placeholder {
	opacity: 0
}
