.ribbon-right {
	width: 40px;
	max-height: none;
	max-width: 40px;
	overflow: hidden;
	position: fixed;
	height: 100%;
	right: 0;
	top: 0;
	z-index: 400;
	background-color: $baseBg;
	-webkit-transition: max-width .6s ease, top .6s ease, width .6s ease;
	-moz-transition: max-width .6s ease, top .6s ease, width .6s ease;
	-o-transition: max-width .6s ease, top .6s ease, width .6s ease;
	transition: max-width .6s ease, top .6s ease, width .6s ease;
	#close-ribbon-right {
		position: absolute;
		z-index: 999;
		top: 40px;
		right: 30px;
		img {
			width: 30px;
			height: auto;
		}
	}
	.sliderWrap {
		margin: 0 auto;
		width: 350px;
		position: absolute;
		left: 40px;
		top: 0;
		height: 100%;
		&.nobg {
			background: 0;
		}
		&.bg2 {
			background: url(images/common/geniousbar-bg2.gif) repeat-x left top;
		}
		.content {
			display: none;
			height: 100%;
			overflow: hidden;
			padding: 0;
		}
	}
	.siderbar-title {
		margin: 0;
		height: 100px;
		line-height: 100px;
		padding-left: 30px;
		padding-right: 30px;
		display: block;
		text-align: left;
		color: $baseBlue;
		a {
			text-decoration: none;
			
		}
		&.noborder {
			border-bottom: 0;
		}
	}

	.sidebar-subtitle {
		line-height: 26px;
		border-bottom: 1px solid #ddd;
		border-top: 1px solid #ddd;
		padding-left: 30px;
		padding-right: 30px;
		&.bordertop {
			border-top: 1px solid #ddd;
		}
	}
	.geniousbarcontent {
		width: 100%;
		overflow: auto;
		height: 100%;
		.wrapper {
			padding-left: 30px;
			padding-right: 30px;
		}
		.textbox {
			&.search {
				border-color: $baseBlue;
				border-top: transparent;
				border-left: transparent;
				border-right: transparent;
				padding-left: 0;
				font-family: "MetaSerifCompPro-Book W01 Rg";
				color: #333;
				font-size: 15px;
				padding-bottom: 4px;
			}
		}
	}
	.sidebar-rt {
		display: block;
		width: 40px;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		border-left: $baseBlue 2px solid;
		border-right: $baseBlue 2px solid;
	}
	.typo2 {
		font-family: 'MetaSerifCompPro-Book W01 Rg';
		font-size: 20px;
		font-weight: normal !important;
	}
	.textbox {
		border: 1px solid #e1e1e1;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		width: 100%;
		height: 35px;
		min-height: 35px;
		font-family: 'MetaSerifCompPro-Book W01 Rg';
		font-size: 15px;
		padding: 5px 10px 5px 10px;
		line-height: 21px;
		color: #666564;
		display: block;
		outline: 0;
	}
	input::-ms-clear {
		display: none !important;
	}
	input.textbox {
		height: 35px;
	}
	.textbox {
		&.inverse {
			.textbox-submit & {
				border-color: #636363 !important;
				background-color: #2f2f2e !important;
			}
		}
		.submit {
			// background: url(images/common/textbox-submit.png) no-repeat right center;
			background-size: 34px 35px;
			padding-right: 40px;
		}
	}
	.textbox-submit {
		line-height: 35px !important;
		height: 35px !important;
		position: relative;
		border: 0;
		padding: 0;
		margin: 0;
		a {
			display: block !important;
			position: absolute !important;
			right: 1px !important;
			top: 1px !important;
			width: 33px !important;
			height: 33px !important;
			// background: url(images/common/textbox-submit.png) no-repeat center center !important;
			background-size: 26px 26px !important;
			text-decoration: none !important;
			background-color: #f3f2f1 !important
		}
		&.inverse  {
			a {
				// background: url(images/common/textbox-submit-inverse.png) no-repeat center center !important;
				background-size: 26px 26px !important;
				background-color: #636363 !important
			}
		}
	}
	.textbox-search {
		height: 35px !important;
		line-height: 35px !important;
		position: relative;
		a {
			width: 35px;
			height: 35px;
			background-color: $baseBg;
			position: absolute;
			right: 0;
			top: 1px;
			box-sizing: border-box;
			padding: 6px 0 6px 12px;
			img {
				display: block;
				width: 22px;
				height: 22px;
			}
		}
		
	}

	.geniousbaricons {
		margin: 0;
		padding: 0;
		list-style-type: none;
		top: 220px;
		left: 1px;
		position: absolute;
		
		li {
			margin: 0;
			padding: 0;
			a {
				width: 40px;
				height: 50px;
				display: block;
				outline: 0;
				position: relative;
				span {
					position: absolute;
					width: 22px;
					height: 23px;
					left: 50%;
					margin-left: -12px;
					top: 50%;
					margin-top: -11px;
					background-repeat: no-repeat;
					background-position: center top;
					background-size: cover;
				}
				&:hover, &.active {
					span {
						background-position: center bottom;
					}
				}
				&.geniousbar-search {
					span {
						background-image: url(../images/icon_search.png);
					}
				}
				&.geniousbar-account {
					span {
						background-image: url(../images/icon_account.png);
					}
				}
				&.geniousbar-shop {
					span {
						background-image: url(../images/icon_shop.png);
					}
				}
				&.geniousbar-book {
					span {
						background-image: url(../images/icon_book.png);
					}
				}
			}
		}
	}
	.content01 {
		padding: 0
	}
	.content03 {
		width: 100%
	}
	
	&.opened {
		max-width: 390px;
		width: 100%
	}
	
}